<div class="wwd-modal">
    <div class="wwd-modal__title">
        <div class="" id="modal-title">title from directive</div>
    </div>
    <div class="wwd-modal__body__container" id="modal-body">
        <div class="wwd-modal__body">
            <div class="row wwd-modal__row">
                <div class="col-xs-12 wwd-modal__row__description">
                    <span class="wwd-modal__row__title wwd-modal__row__title--dark">Attenzione: </span>
                    description from directive
                        
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-1 wwd-modal__row__title wwd-modal__row__title--dark">
                    Note
                </div>
                <div class="col-xs-11">
                    <textarea placeholder="text"></textarea>
                </div>
            </div>

        </div>



    </div>
    <div class="wwd-modal__footer">
        <button class="wdd-button alert-color" type="button">Annulla</button>
        <button class="wdd-button pull-right" type="button">Conferma</button>
    </div>

</div>