<div class="wwd-modal" wdd-spinner="[vm.uploadPromise.$$state]">
    <div class="wwd-modal__title">
        <div class="" id="modal-title">Gestione massiva</div>
    </div>

    <div class="wwd-modal__body__container" id="modal-body">
        <div class="wwd-modal__body">
            <div class="row wwd-modal__row">
                <div class="col-xs-12 wwd-modal__row__description">
                    Per effettuare correttamente il carico massivo delle informazioni, assicurarsi di utilizzare la versione del template scaricabile dal seguente link:
                </div>
            </div>

            <div class="row wwd-modal__row">
                <button class="wdd-button" ng-click="vm.downloadTemplate()">
                    <i class="icon icon-download"></i>
                    Template
                </button>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-12 wwd-modal__row__description">
                    Selezionare attraverso il pulsante importa il file che si vuole caricare
                </div>
            </div>

            <div class="row wwd-modal__row">
                <label for="MSSV_Input" class="wdd-button">
                    <i class="icon icon-upload"></i>
                    Importa
                </label>
                <input type="file" id="MSSV_Input" ng-hide="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            </div>

            <div class="row wwd-modal__row" ng-show="vm.file">
                <div class="col-xs-12 wwd-modal__row__description">
                    Attenzione: verrà caricato il seguente file:
                    <br />
                    {{ vm.file.name | json }}
                </div>
            </div>

        </div>
    </div>


    <div class="wwd-modal__footer">
        <button class="wdd-button pull-right" type="button" ng-click="vm.sendFile()" ng-disabled="!vm.file">Invia</button>
        <button class="wdd-button" type="button" ng-click="vm.close()">Annulla</button>
    </div>

</div>