<div class="wwd-modal" wdd-spinner="[vm.workspaceDetailsPromise.$$state, vm.utenteRichiedentePromise.$$state, vm.createNewWorkspacePromise.$$state, vm.deleteWorkspacePromise.$$state]">
    <div class="wwd-modal__title">
        <h class="" id="modal-title">Modifica Workspace</h>
    </div>
    <form name="createNewWorkspaceForm" ng-submit="vm.saveWorkspace()">
        <div class="wwd-modal__body__container" id="modal-body">
            <div class="wwd-modal__body">
                <div class="row wwd-modal__row">
                    <div class="col-xs-2 wwd-modal__row__title__singleLine">
                        Workspace
                    </div>
                    <div class="col-xs-10">
                        <!-- <input text="name" type="text" placeholder="Es. WS1"> -->
                        <input type="text" ng-model="vm.workspaceForm.short_description" maxlength="100" required ng-disabled="vm.fieldIsReadonly">
                    </div>
                </div>

                <div class="row wwd-modal__row">
                    <div class="col-xs-2 wwd-modal__row__title__singleLine">
                        Descrizione
                    </div>
                    <div class="col-xs-10">
                        <input type="text" ng-model="vm.workspaceForm.long_description" maxlength="500" required ng-disabled="vm.fieldIsReadonly">
                    </div>
                </div>

                <div class="row wwd-modal__row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-10 row date-section">
                        <div class="col-xs-6 wwd-modal__row__title__singleLine">
                            Data Inizio
                            <wdd-datepicker ng-model="vm.workspaceForm.start_date" dependence="vm.workspaceForm.end_date" limit="max" is-editable="vm.fieldIsReadonly"></wdd-datepicker>
                        </div>
                        <div class="col-xs-6 wwd-modal__row__title__singleLine">
                            Data Fine
                            <wdd-datepicker ng-model="vm.workspaceForm.end_date" dependence="vm.workspaceForm.start_date" limit="min" is-editable="vm.fieldIsReadonly"></wdd-datepicker>
                        </div>

                    </div>
                </div>

                <div class="row wwd-modal__row">
                    <div class="col-xs-2 wwd-modal__row__title__singleLine">
                        Stato
                    </div>
                    <div class="col-xs-10">
                        <input type="text" ng-model="vm.workspaceForm.stato" readonly>
                    </div>
                </div>

                <div class="row wwd-modal__row">
                    <div class="col-xs-2 wwd-modal__row__title__multipleLine">
                        Utente Richiedente
                    </div>
                    <div class="col-xs-10">
                        <wdd-autocomplete ng-model="vm.responsibleUser.value" label="{{labelDescription}}" placeholder="{{placeholderDescription}}"
                            type="responsibleUser" new-value="false" is-editable="vm.lockUtenteRichiedente" promise="vm.utenteRichiedentePromise">
                        </wdd-autocomplete>
                    </div>
                </div>

                <div class="row wwd-modal__row">
                    <div class="col-xs-2 wwd-modal__row__title__singleLine">
                        Note
                    </div>
                    <div class="col-xs-10">
                        <textarea ng-model="vm.workspaceForm.note" maxlength="100" ng-disabled="vm.fieldIsReadonly"></textarea>
                    </div>
                </div>

            </div>

        </div>
        <div class="wwd-modal__footer">
            <button class="wdd-button" type="button" ng-click="vm.close()">Annulla</button>
            <button ng-if="vm.showDeleteBtn" class="wdd-button" type="button" ng-click="vm.deleteWorkspace()" ng-disabled="vm.isDeleteDisable">Elimina</button>
            <button ng-if="vm.showSendBtn" class="wdd-button pull-right" type="button" ng-click="vm.sendWorkspace()" ng-disabled="vm.isSendDisabled()">Invia</button>
            <button ng-if="vm.showSaveBtn" class="wdd-button pull-right" type="submit" ng-disabled="vm.isSaveDisabled()">Salva</button>
        </div>
    </form>

</div>