<div class="wwd-modal">
    <div class="wwd-modal__title">
        <h class="" id="modal-title">Inserimento Richiesta Dato</h>
    </div>
    <div class="wwd-modal__body__container" id="modal-body">
        <div class="wwd-modal__body">

            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    System Owner

                </div>
                <div class="col-xs-8">
                    <select name="" id="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Technical Application

                </div>
                <div class="col-xs-8">
                    <select name="" id="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Source

                </div>
                <div class="col-xs-8">
                    <select name="" id="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Table

                </div>
                <div class="col-xs-8">
                    <select name="" id="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Field

                </div>
                <div class="col-xs-8">
                    <select name="" id="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Field

                </div>
                <div class="col-xs-8">
                    <input type="checkbox">
                </div>
            </div>

        </div>



    </div>
    <div class="wwd-modal__footer">
        colored buttons are created in other git branch
        <br>
        <br>
        <button class="wdd-button" type="button">Annulla</button>
        <button class="wdd-button" type="button">Elimina</button>
        <button class="wdd-button pull-right" type="button">Salva</button>
        <button class="wdd-button pull-right" type="button">Invia</button>
    </div>

</div>