<div class="wwd-modal">
    <div class="wwd-modal__title">
        <h class="" id="modal-title">Richiesta documentazione dato</h>
    </div>
    <div class="wwd-modal__body__container" id="modal-body">
        <div class="wwd-modal__body">

            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    System Owner

                </div>
                <div class="col-xs-8">
                    <wdd-autocomplete ng-model="vm.systemOwnerSelected.value" type="newRequestSO" ng-change="vm.inputChanged('SO')" new-value="vm.getNewValue">
                    </wdd-autocomplete>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Technical Application

                </div>
                <div class="col-xs-8">
                    <wdd-autocomplete ng-model="vm.technicalApplication.value" type="newRequestTA" ng-change="vm.inputChanged('TA')" new-value="vm.getNewValue"
                        required-dependence="true" dipendence="{{ vm.systemOwnerSelected.value }}" is-editable="vm.isTechApplEditable()">
                    </wdd-autocomplete>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Source

                </div>
                <div class="col-xs-8">
                    <wdd-autocomplete ng-model="vm.dataSource.value" type="newRequestDS" ng-change="vm.inputChanged('DS')" new-value="vm.getNewValue"
                    required-dependence="true" dipendence="{{ vm.technicalApplication.value }}" is-editable="vm.isDataSourceEditable()">
                    </wdd-autocomplete>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Table

                </div>
                <div class="col-xs-8">
                    <wdd-autocomplete ng-model="vm.dataTable.value" type="newRequestDT" new-value="vm.getNewValue"
                    required-dependence="true" dipendence="{{ vm.dataSource.value }}" is-editable="vm.areDataTableFieldEditable()">
                    </wdd-autocomplete>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Data Field

                </div>
                <div class="col-xs-8">
                    <wdd-autocomplete ng-model="vm.dataField.value" type="newRequestDF" new-value="vm.getNewValue"
                    required-dependence="true" dipendence="{{ vm.dataSource.value }}" is-editable="vm.areDataTableFieldEditable()">
                    </wdd-autocomplete>
                </div>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-4 wwd-modal__row__title">
                    Rilevanza Business

                </div>
                <div class="col-xs-8">
                    <input type="checkbox" ng-model="vm.rilevanzaBusiness.value">
                </div>
            </div>

        </div>



    </div>
    <div class="wwd-modal__footer">
        <button class="wdd-button alt-color" type="button">Annulla</button>
        <button class="wdd-button alt-color pull-right" type="button">Nuovo</button>
        <button class="wdd-button pull-right" type="button">Salva</button>
    </div>

</div>