<div class="wwd-modal">
    <div class="wwd-modal__title">
        <h class="" id="modal-title">Creazione Nuovo Workspace</h>
    </div>
    <div class="wwd-modal__body__container" id="modal-body">
        <div class="wwd-modal__body">
            <div class="row wwd-modal__row">
                <div class="col-xs-3 wwd-modal__row__title">
                    Descrizione Breve
                </div>
                <div class="col-xs-9">
                    <input type="text" placeholder="Es. WS1">
                </div>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-3 wwd-modal__row__title">
                    Descrizione
                </div>
                <div class="col-xs-9">
                    <input type="text" placeholder="Es. Workspace 1">
                </div>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-3">

                </div>
                <div class="col-xs-9 row">
                    <div class="col-xs-6 wwd-modal__row__title">
                        Data Inizio
                        <input type="date">
                    </div>
                    <div class="col-xs-6 wwd-modal__row__title">
                        Data Fine
                        <input type="date">
                    </div>

                </div>

            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-3 wwd-modal__row__title">
                    Utente Richiedente
                </div>
                <div class="col-xs-9">
                    <select name="" id="">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-3 wwd-modal__row__title">
                    Note
                </div>
                <div class="col-xs-9">
                    <textarea placeholder="Inserisci eventuali note per il nuovo workspace."></textarea>
                </div>
            </div>

        </div>



    </div>
    <div class="wwd-modal__footer">
        <button class="wdd-button alt-color" type="button">Annulla</button>
        <button class="wdd-button alt-color pull-right" type="button">Invia</button>
        <button class="wdd-button pull-right" type="button">Salva</button>
    </div>

</div>