<div class="wwd-modal" wdd-spinner="[vm.saveRequestDocumentationDataPromise.$$state, vm.systemOwnerPromise.$$state, vm.techApplPromise.$$state, vm.dataSourcePromise.$$state, vm.dataTablePromise.$$state, vm.dataFieldPromise.$$state]">
    <div class="wwd-modal__title">
        <h class="" id="modal-title">Richiesta documentazione dato</h>
    </div>
    <div class="wwd-modal__body__container" id="modal-body">
        <div class="wwd-modal__body__new__workspace">

            <div class="row wwd-modal__row">
                <div class="col-xs-2 wwd-modal__row__title__singleLine">
                    System Owner

                </div>
                <div class="col-xs-10 wwd-modal__row__input">
                    <wdd-autocomplete ng-model="vm.systemOwnerSelected.value" type="newRequestSO" ng-change="vm.inputChanged('SO')" new-value="true"
                        promise="vm.systemOwnerPromise">
                    </wdd-autocomplete>
                    <i class="glyphicon glyphicon-ok" ng-if="vm.systemOwnerSelected.value"></i>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-2 wwd-modal__row__title__multipleLine">
                    Technical Application

                </div>
                <div class="col-xs-10 wwd-modal__row__input">
                    <wdd-autocomplete ng-model="vm.technicalApplication.value" type="newRequestTA" ng-change="vm.inputChanged('TA')" new-value="true"
                        required-dependence="true" dipendence="{{ [vm.systemOwnerSelected.value] }}" is-editable="vm.isTechApplEditable()"
                        promise="vm.techApplPromise">
                    </wdd-autocomplete>
                    <i class="glyphicon glyphicon-ok" ng-if="vm.technicalApplication.value"></i>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-2 wwd-modal__row__title__singleLine">
                    Data Source

                </div>
                <div class="col-xs-10 wwd-modal__row__input">
                    <wdd-autocomplete ng-model="vm.dataSource.value" type="newRequestDS" ng-change="vm.inputChanged('DS')" new-value="true" required-dependence="true"
                        dipendence="{{ [vm.systemOwnerSelected.value, vm.technicalApplication.value] }}" is-editable="vm.isDataSourceEditable()"
                        promise="vm.dataSourcePromise">
                    </wdd-autocomplete>
                    <i class="glyphicon glyphicon-ok" ng-if="vm.dataSource.value"></i>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-2 wwd-modal__row__title__singleLine">
                    Data Table

                </div>
                <div class="col-xs-10 wwd-modal__row__input">
                    <wdd-autocomplete ng-model="vm.dataTable.value" type="newRequestDT" new-value="true" required-dependence="true" dipendence="{{ [vm.systemOwnerSelected.value, vm.technicalApplication.value, vm.dataSource.value] }}"
                        is-editable="vm.areDataTableFieldEditable()" promise="vm.dataTablePromise">
                    </wdd-autocomplete>
                    <i class="glyphicon glyphicon-ok" ng-if="vm.dataTable.value"></i>
                </div>
            </div>
            <div class="row wwd-modal__row">
                <div class="col-xs-2 wwd-modal__row__title__singleLine">
                    Data Field

                </div>
                <div class="col-xs-10 wwd-modal__row__input">
                    <wdd-autocomplete ng-model="vm.dataField.value" type="newRequestDF" new-value="true" required-dependence="true" dipendence="{{ [vm.systemOwnerSelected.value, vm.technicalApplication.value, vm.dataSource.value, vm.dataTable.value] }}"
                        is-editable="vm.areDataTableFieldEditable()" promise="vm.dataFieldPromise">
                    </wdd-autocomplete>
                    <i class="glyphicon glyphicon-ok" ng-if="vm.dataField.value"></i>
                </div>
            </div>

            <div class="row wwd-modal__row">
                <div class="col-xs-2 wwd-modal__row__title__multipleLine">
                    Rilevanza Business

                </div>
                <div class="col-xs-10">
                    <input type="checkbox" ng-model="vm.rilevanzaBusiness.value">
                </div>
            </div>

        </div>



    </div>
    <div class="wwd-modal__footer">
        <button class="wdd-button" type="button" ng-click="vm.close()">Annulla</button>
        <button class="wdd-button pull-right" type="button" ng-click="vm.saveRequestDocumentationData('new')" ng-disabled="!vm.dataField.value">Salva e Nuovo</button>
        <button class="wdd-button pull-right" type="button" ng-click="vm.saveRequestDocumentationData('save')" ng-disabled="!vm.dataField.value">Salva</button>
    </div>

</div>