<div class="wwd-modal">
    <div class="wwd-modal__title">
        <div class="" id="modal-title">Vista Relazioni</div>
    </div>
    <div class="wwd-modal__body__container" id="modal-body" style="flex-direction: column;">
        <div>
            <h5>{{ vm.termType }} - {{ vm.termName }}</h5>
        </div>
        <div class="wwd-modal__processHistory">
            <div class="wdd-filter-container">
                <div class="filter-row" style="width: 100%;" ng-show="!isFilterActive">
                    <div class="filter-reduced-wrapper">
                        <label class="wdd-checkbox" for="{{checkbox.id}}" ng-repeat="checkbox in vm.checkboxFilters">
                            <input type="checkbox" class="checkbox-input" id="{{checkbox.id}}" ng-model="checkbox.enabled">
                            <div class="checkbox-label">
                                {{ checkbox.label }}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="filter-action" ng-show="!isFilterActive" style="width: 250px;">
                    <div class="filter-action-buttons">
                        <button class="wdd-button width-adapt" style="margin-right: 3px;" ng-click="vm.resetFilter()">Pulisci</button>
                        <button class="wdd-button width-adapt" style="margin-right: 3px;" ng-click="vm.setFilter()">Ricerca</button>
                    </div>
                </div>
            </div>

            <wdd-table reload-data="vm.reloadTableData" table-key="relationModal"
                header-array-obj="{{ {array: vm.headerTable} }}" page-size-num="{{ {number: vm.tablePageSize} }}" has-primary-navigation-btn="true"
                path-primary-navigation="tab.dataDetail" has-relation-modal="true" has-ternary-navigation-btn="true"
                pagination-bool="{{ {boolean: true} }}" dont-resize="true" sortable-table="true" sortable-table-type="relation"></wdd-table>
        </div>

    </div>
    <div class="wwd-modal__footer">
        <button class="wdd-button" type="button" ng-click="vm.close()">Chiudi</button>
    </div>

</div>