.dashboard-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 10px;

    padding: 10px;
    border-radius: 5px;
    background-color: rgba(239, 239, 239, 0.5);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);


    wdd-autocomplete, .wdd-labeled-input, .filter-action {
        flex: 1;
        width: 200px;
    }

    wdd-datepicker {
        flex: 1;
        // padding: 0 10px;
        width: 160px; 
    }

    .wdd-labeled-input {
        .wdd-button.icon-only {
            height: 25px;
        }

        .wbb-select {
            width: 200px;
        }
    }

    .filter-action {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        bottom: 1px;

        .wdd-button {
            margin-right: 10px;
            min-width: 80px;
            &.icon-only {
                margin-left: 25px;
            }
        }
    }
}