.dashboard-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 10px;

    padding: 10px;
    border-radius: 5px;
    background-color: rgba(239, 239, 239, 0.5);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);


    wdd-autocomplete, .wdd-labeled-input, .filter-action {
        flex: 1;
        width: 200px;
    }

    wdd-datepicker {
        flex: 1;
        // padding: 0 10px;
        width: 160px; 
    }

    @media screen and (max-width: 1280px) {
        flex-wrap: wrap;
        height: 150px;

        wdd-autocomplete, .dash-filter-input, .filter-action, wdd-datepicker{
            width: 33%;
            height: 55px;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            padding: 0 15px;
        }
        .wbb-select{
            width: 100% !important;
        }
        .filter-action .wdd-button.last-button {
            margin-right: 2px;
        }
        .wdd-autocomplete{
            width: 100%;
            .wdd-labeled-input{
                width: 100%;
                .wdd-input-text{
                    width: 100%;
                }
            }
        }
        .wdd-datepicker{
            padding: 0;
        }
        .filter-action{
            justify-content: flex-end !important;
        }
    }

    .wdd-labeled-input {
        .wdd-button.icon-only {
            height: 25px;
        }

        .wbb-select {
            width: 200px;
        }
    }

    .filter-action {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        bottom: 1px;

        .wdd-button {
            margin-right: 10px;
            min-width: 80px;
            &.icon-only {
                margin-left: 25px;
            }
        }
    }
}