.attribute-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;

    .attribute-name {
        width: 125px;
        color: #37475f;

        .attribute-required {
            color: red;
        }

        .file-manage {
            display: flex;
            flex-direction: row;

            i {
                cursor: pointer;
            }
            
            .hiddenAttachFile {
                display: none;
            }
        }

        &.name-focus-enabled {
            color: #2a74de;
            font-weight: bold;
        }
    }

    .attribute-value {
        flex: 1;

        @media screen and (max-width: 1280px) and (min-width: 1025px){
            textarea.wdd-textarea, .wbb-select, .wdd-input-text, .checkbox, .textarea-disabled {
                width: 100% !important;
            }
        }

        .wdd-input-text, .wdd-textarea {
            &:focus {
                box-shadow: 0 0 0pt 2pt #2a74de;
            }
        }

        .textarea-disabled {
            position: relative;
            width: $custom-select-width;
            height: #{$custom-select-height * 3};
            border-radius: 5px;
            overflow: hidden;
            overflow-y: auto;
            background-color: rgba(181, 180, 180, 0.3);
            border: 1px solid #afc2de;
            resize: none;
        }

        [disabled="disabled"], [readonly="readonly"] {
            background-color: rgba(181, 180, 180, 0.3);
        }
    }
}
