.attribute-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;

    .attribute-name {
        width: 125px;
        color: #37475f;

        .attribute-required {
            color: red;
        }

        .file-manage {
            display: flex;
            flex-direction: row;

            i {
                cursor: pointer;
            }
            
            .hiddenAttachFile {
                display: none;
            }
        }

        &.name-focus-enabled {
            color: #2a74de;
            font-weight: bold;
        }
    }

    .attribute-value {
        flex: 1;

        @media screen and (max-width: 1280px) and (min-width: 1025px){
            textarea.wdd-textarea, .wbb-select, .wdd-input-text, .checkbox {
                width: 400px;
            }
        }

        .wdd-input-text, .wdd-textarea {
            &:focus {
                box-shadow: 0 0 0pt 2pt #2a74de;
            }
        }

        [disabled="disabled"] {
            background-color: rgba(181, 180, 180, 0.3);
        }
    }
}
