doughnut-chart {

    // display: flex;
    // flex-direction: column;
    // height: 100%;
    

    // justify-content: center;
    // align-items: center;

    .donut-chart-graph {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // cursor: pointer;
        canvas {
            cursor: pointer;
        }
        
        .label-chart {
            // background-color: #ffffff;
            // border-radius: 50%;
            // max-width: 250px;
            // max-height: 250px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-right: auto;
            // margin-left: auto;
            // margin-bottom: 70px;
            // margin-top: 80px;
            margin-top: 15px;

            .whiteCircle {
                background-color: #ffffff;
                border-radius: 50%;
                height: 250px;
                width: 250px;
                overflow: hidden;
                position: absolute;
                top: calc(50% - 127px);
                left: calc(50% - 125px);
                z-index: -1;
            }

            .numberLabel {
                font-size: 110px;
                font-weight: 100;
                // height: 130px;
                margin-bottom: 0;
            }

            .activityLabel {
                font-weight: 700;
                font-size: 25px;
            }
        }
    }

    .chart-legend-container {
        margin-top: 20px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        .chart-legend {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .lf-block {
                width: 50px;
                text-align: right;
                cursor: pointer;
                font-size: 30px;
            }
            
            .right-block {
                width: calc(100% - 70px);
                padding-left: 20px;
                cursor: pointer;
                font-size: 30px;
            }
        }
    }
    
}