.wbb-select{
    position: relative;
    width: $custom-select-width;
    height: $custom-select-height;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    border: 1px solid #afc2de;
    select{
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        padding: 5px 10px;
        border-radius: 0;
        border: 0;
        background: transparent;
        &:focus {
            outline: 0;
        }
        &:focus::-ms-value {
            color: #000000;
            background: #ffffff;
        }
    }

    select::-ms-expand {
        display: none;
    }

    &[disabled="disabled"] {
        &:after {
            background: rgba(181, 180, 180, 0.0);
        }
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, rgba(0,0,0,0), white 30%, white);
        pointer-events: none;
    }

    &.disabled {
        pointer-events: none;
        select {
            color: #afc2de;
        }
    }

    i {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            margin-top: 6px;
        }
        line-height: $custom-select-height;
        content: '\e806';
        display: block;
        position: absolute;
        right: 5px;
        font-size: 15px;
        top: 0;
        bottom: 0;
        color: #2a74de;
        pointer-events: none;
        z-index: 1;
    }

    &.select-child {
        width: 250px;
        background: #233145;
        color: #ffffff;
        display: inline-block;

        option {
            color: #233145;
            background: #ffffff;
            border: 1px solid #233145;
        }

        i {
            background-color: #233145;
            color: #ffffff;
        }
        &:after {
            background: #233145;
        }
    }
}

input.wdd-input-text {
    position: relative;
    width: $custom-select-width;
    height: $custom-select-height;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    border: 1px solid #afc2de;
    padding: 5px 10px;

    &:focus {
        outline: 0;
    }

    &.disabled {
        pointer-events: none;
        input {
            color: #afc2de;
        }
    }
}

textarea.wdd-textarea {
    position: relative;
    width: $custom-select-width;
    height: #{$custom-select-height * 3};
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
    background: #ffffff;
    border: 1px solid #afc2de;
    resize: none;

    &:focus {
        outline: 0;
    }

    &.disabled {
        pointer-events: none;
        textarea {
            color: #afc2de;
        }
    }
}

.wdd-labeled-input {
    display: flex;
    flex-direction: column;

    label {
        margin: 5px 0;
        height: 15px;
        font-size: 14px;
        color: #707c8e;
    }
}