.wdd-label {
    min-width: $label-minimun-width;
    padding: 0 15px;
    height: $label-height;
    line-height: $label-height;
    font-size: $label-font-size;
    color: $label-color;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $label-background-color;
    position: relative;
    border: $label-border;
    border-radius: $label-border-radius;
    margin: 2px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: -2px;
        top: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: $label-border-radius;
        z-index: -1;
        background: $label-background-trace;
        box-shadow: $label-box-shadow;
    }

    &.complete {
        background-color: $label-complete-background-color;
        &:after {
            background: $label-complete-background-trace;
        }
    }

    &.incomplete {
        background-color: $label-incomplete-background-color;
        &:after {
            background: $label-incomplete-background-trace;
        }
    }
}