.wdd-table {
  border-radius: 5px;
  // overflow: hidden;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 100%;
  position: relative;
  .empty-response-child {
    height: 100% !important;
    z-index: 3 !important;
  }
  .empty-response{
    position: absolute;
    height: calc(100% - 65px);
    z-index: 2;
    background: rgba(rgb(107, 107, 107), .4);
    left: 0;
    top: 0;
    right: 0;
    // bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    h1{
      margin: 0;
      font-size: 35px;
      color: white;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
    }
  }
  .resizable{
    min-width: 90px;
    overflow: hidden;
    .rg-right{
      right: 15px;
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    &.expandable-table {
      tbody {
        tr:nth-child(4n - 3) {
          background-color: rgba(#dee8f8, 0.4);
        }
        tr.collapsable {
          &.odd {
            background-color: #ffffff;
          }

          &.even {
            background-color: rgba(#dee8f8, 0.4);
          }
        }
      }
    }

    thead {
      background-color: #233145;
      color: #ffffff;
      tr {
        font-size: 12px;
        height: 30px;
        th {
          // in design align is left
          // text-align: center;
          padding: 5px;
          &.baseHeaderIconWidth {
            width: 45px;
          }
          &.hasOneIcon {
            width: 30px !important;
          }
          &.hasTwoIcon {
            width: 60px !important;
          }
          &.hasTreeIcon {
            width: 90px !important;
          }
        }
      }
    }
    tbody {
      tr:nth-child(even) {
        background-color: rgba(#dee8f8, 0.4);
      }
      tr {
        height: 35px;
        background: white;
        td {
          padding: 5px;
          position: relative;
          // temporary fix for task 24
          padding-top: 0;
          padding-bottom: 0;
          &.expandable-container {
            padding: 15px;
          }

          &.has-border{
            border-right: 1px solid #d7dfed;
          }

          .wdd-table-cell{
            position: relative;
          }

          .table-cell {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.icon-centered {
              text-align: center;
            }
          }
        }

        &.collapse {
          height: 0px;
        }

        &.base-row {
          height: 35px;
          .icon-container {
            position: relative;

            .wdd-button {
              margin: 2px;
            }

            .col-primary-navigation {
              position: absolute;
              top: 0px;
              // bottom: 0;
              right: 0;
              height: 35px;
              width: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              // background-color: #d7dfed;
            }

            .col-secondary-navigation {
              position: absolute;
              top: 0px;
              // bottom: 0;
              right: 30px;
              width: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              // background-color: #ffffff;
            }
            .col-ternary-navigation {
              position: absolute;
              top: 0px;
              // bottom: 0;
              right: 60px;
              width: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              // background-color: #ffffff;
            }
          }
        }
      }
    }
    tfoot {
      tr {
        height: 30px;
        background-color: #233145;
      }
    }
  }

  &.child-table {
    box-shadow: none;
    border-radius: 0px;
    table {
      thead {
        tr {
          background-color: #afc2de !important;
          color: #000000;
          text-transform: uppercase;
        }
      }
      tbody {
        tr {
          background-color: #dee8f8 !important;

          // .first-column-child-table {
          //   border-right: 0px
          // }

          .col-primary-navigation {
            position: absolute;
            top: 0 !important;
            bottom: 0;
            right: 0;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dee8f8 !important;
          }

          .col-secondary-navigation {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dee8f8 !important;
          }
        }
      }
    }

    .table-footer {
      background-color: #afc2de;
      color: #ffffff;
    }
  }

  .under-table {
    border-top: 1px solid #d7dfed;
    background-color: #eceef3;
    height: 35px;
    &:first-child { 
      margin-right: 20px;
    }

    .right-side {
      float: right;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-side {
      float: left;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .table-footer {
    width: 100%;
    background-color: #233145;
    font-size: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .isChildButton {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding-right: 22px;
      .wdd-button{
        margin-right: 0;
      }
    }
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    margin: 0;
  } // bootstrap overwrite
  .pagination > li > a,
  .pagination > li > span {
    padding: 0px 6px;
    margin: 0 2px;
    border-radius: 4px;
    color: #2a74de;

    &.current-page {
      background-color: #2a74de;
      color: white;
    }
  }
  .pagi-text {
    margin-left: 6px;
    margin-right: 6px;
    text-transform: uppercase;
    a,
    a:focus,
    a:hover {
      color: white;
    }

    span {
      color: #ffffff;
    }
  }
}

.tooltip-test {
  
  .tooltip-inner {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    // width: 150px;
  }
}

// temporary, I dont know how to call it better
.table1 {
  th {
    border-right: 1px solid #37475f;
  }
  td {
    border-right: 1px solid #d7dfed;
    div {
      width: 95px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // cleaning borders
  // th:nth-of-type(1), td:nth-of-type(1) {
  //     border-right: 0;
  // }
  // th:nth-last-child(2), td:nth-last-child(2), th:nth-last-child(1), td:nth-last-child(1) {
  //     border-right: 0;
  // }

  td:nth-last-child(1) {
    font-size: 18px;
    text-align: center;
    background-color: #dee8f8;
    color: #2a74de; // style improvisation
    border-bottom: 1px solid #d7dfed;
  } // td:nth-of-type(1), td:nth-last-child(1) {
  //     text-align: center;
  // }
  th {
    text-transform: uppercase;
    line-height: 1.1;
  } // only for tests
  th {
    width: 7%;
  } // first style, need to be coded
  .pagination {
    margin: 0;
  } // bootstrap overwrite
  .pagination > li > a,
  .pagination > li > span {
    padding: 0px 6px;
    margin: 0 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pagi-text {
    margin-left: 6px;
    margin-right: 6px;
    text-transform: uppercase;
    a,
    a:focus,
    a:hover {
      color: white;
    }

    span {
      color: #ffffff;
    }
  }
}

.to-do-list__table {
  td:nth-last-child(1) {
    font-size: 18px;
    text-align: center;
    background-color: #d7dfed;
    color: #2a74de; // style improvisation
    border-top: 1px solid #93acd0; // for icon position
    padding: 0;
  }
  th:nth-last-child(2) {
    border-right: 0;
  }
  th {
    border-right: 1px solid #233145;
    text-transform: uppercase;
  }
  td {
    border-right: 1px solid #d7dfed;
  }
  td:nth-of-type(1),
  th:nth-of-type(1) {
    border-right: 0;
    text-align: center;
  } // for icon position
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    margin: 0;
  } // bootstrap overwrite
  .pagination > li > a,
  .pagination > li > span {
    padding: 0px 6px;
    margin: 0 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pagi-text {
    margin-left: 6px;
    margin-right: 6px;
    text-transform: uppercase;
    a,
    a:focus,
    a:hover {
      color: white;
    }

    span {
      color: #ffffff;
    }
  }
}


// height: 40px;

.dashboard-table {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  // important for tests
  .missing-data{
    position: absolute;
    z-index: 2;
    background: rgba(rgb(107, 107, 107), .4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    h1{
      margin: 0;
      font-size: 35px;
      color: white;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
    }
  }
  tr {
    height: 35px !important;
  }

  table {
    table-layout: fixed;
  }
  th {
    // border: 1px solid #d7dfed;
    padding: 6px 8px !important;
    // text-transform: uppercase;
    @media screen and (min-width: 1290px) {
      font-size: 12px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 10px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 7px;
    }
    line-height: 1.1;
    border-right: 1px solid #d7dfed;
  }
  td {
    // border: 1px solid #d7dfed;
    padding: 6px 8px !important;
    // text-transform: uppercase;
    font-size: 12px;
    line-height: 1.1;

    border-right: 1px solid #d7dfed;
  }
  td:last-of-type {
    border-right: 0;
  } 

  
  th {
    border: 1px solid #233145;
  }

  th,
  caption {
    background-color: #37475f;
    color: white;
  }
  caption {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 9px;
    padding-bottom: 8px;
    line-height: 1;
  }
}

td.dashboard-table-cell{

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
