.wdd-table {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    table {
        width: 100%;
        thead {
            background-color: #233145;
            color: #ffffff;
            tr {
                font-size: 12px;
                height: 30px;
                th {
                    // in design align is left
                    // text-align: center;
                    padding: 5px;
                }
            }
        }
        tbody {
            tr:nth-child(even) {
                background-color: #f8fbff;
            }
            tr {
                height: 50px;
                td {
                    padding: 5px;
                }
            }
        }
        tfoot {
            tr {
                height: 30px;
                background-color: #233145;
            }
        }
    }
    .table-footer {
        width: 100%;
        background-color: #233145;
        font-size: 12px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// temporary, I dont know how to call it better
.table1 {
    th {
        border-right: 1px solid #37475f;
    }
    td {
        border-right: 1px solid #d7dfed;
        div {
            width: 95px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }


    } // cleaning borders
    // th:nth-of-type(1), td:nth-of-type(1) {
    //     border-right: 0;
    // }
    // th:nth-last-child(2), td:nth-last-child(2), th:nth-last-child(1), td:nth-last-child(1) {
    //     border-right: 0;
    // }

    td:nth-last-child(1) {
        font-size: 18px;
        text-align: center;
        background-color: #dee8f8;
        color: #2a74de; // style improvisation
        border-bottom: 1px solid #d7dfed;
    } // td:nth-of-type(1), td:nth-last-child(1) {
    //     text-align: center;
    // }
    th {
        text-transform: uppercase;
        line-height: 1.1;
    } // only for tests
    th {
        width: 7%;
    } // first style, need to be coded
    .pagination {
        margin: 0;
    } // bootstrap overwrite
    .pagination>li>a,
    .pagination>li>span {
        padding: 0px 6px;
        margin: 0 2px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .pagi-text {
        margin-left: 13px;
        margin-right: 13px;
        text-transform: uppercase;
        a,
        a:focus,
        a:hover {
            color: white;
        }
    }
}

.to-do-list__table {
    td:nth-last-child(1) {
        font-size: 18px;
        text-align: center;
        background-color: #d7dfed;
        color: #2a74de; // style improvisation
        border-top: 1px solid #93acd0; // for icon position
        padding: 0;
    }
    th:nth-last-child(2) {
        border-right: 0;
    }
    th {
        border-right: 1px solid #233145;
        text-transform: uppercase;
    }
    td {
        border-right: 1px solid #d7dfed;
    }
    td:nth-of-type(1),
    th:nth-of-type(1) {
        border-right: 0;
        text-align: center;
    } // for icon position
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        margin: 0;
    } // bootstrap overwrite
    .pagination>li>a,
    .pagination>li>span {
        padding: 0px 6px;
        margin: 0 2px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .pagi-text {
        margin-left: 13px;
        margin-right: 13px;
        text-transform: uppercase;
        a,
        a:focus,
        a:hover {
            color: white;
        }
    }


    

}

.dashboard-table {
    width: 100%;
    margin-bottom: 20px;
    th, td {
        border: 1px solid #d7dfed;
        padding: 6px 8px;

    }

    th, caption {
        background-color: tomato;
        color: white;
    }
    caption {
        text-align:center;
        font-size: 20px;
    }
}