.wdd-table{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
    table{
        width: 100%;
        thead {
            background-color: #233145;
            color: #ffffff;
            tr {
                font-size: 12px;
                height: 30px;
                th {
                    // in design align is left
                    // text-align: center;
                    padding: 5px;
                }
            }
        }
        tbody {
            tr:nth-child(even) {
                background-color: #f8fbff;
            }
            tr{
                height: 50px;
                td {
                    padding: 5px;
                }
            }
        }
        tfoot {
            tr {
                height: 30px;
                background-color: #233145;
            }
        }
    }
    .table-footer{
        width: 100%;
        background-color: #233145;
        font-size: 12px;
        height: 30px;
    }
}

// temporary, I dont know how to call it better
.table1 {
    th, td {
        border-right: 1px solid red;
    }
    // cleaning borders
    th:nth-of-type(1), td:nth-of-type(1) {
        border-right: 0;
    }
    th:nth-last-child(2), td:nth-last-child(2), th:nth-last-child(1), td:nth-last-child(1) {
        border-right: 0;
    }

    td:nth-last-child(1) {
        background-color: tomato;
    }
    td:nth-of-type(1), td:nth-last-child(1) {
        text-align: center;
    }
    th {
        text-transform: uppercase;
    }

    ul > li:not(:last-child) a {
        color: green;
      }
      
    ul > li:not(:last-child) a:hover {
    color: red;
    }


}