.wdd-autocomplete {

    position: relative;
    width: 200px;
    height: $custom-select-height;

    .wdd-input-text {
        padding-right: 33px;
        width: 190px;
    }

    .wdd-labeled-input {
        padding: 0px;

        .autocomplete-wrapper{
            position: relative;
        }

        input[disabled=disabled] {
            background-color: rgba(181, 180, 180, 0.3);
        }
        
        i {
            // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            //     /* IE10+ CSS styles go here */
            //     margin-top: 33px;
            // }
            //margin-top: 25px;
            line-height: $custom-select-height;
            cursor: pointer;
            content: '\e806';
            display: block;
            position: absolute;
            font-size: 15px;
            height: 30px;
            top: 0;
            width: 30px;
            right: 5px;
            color: #2a74de;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            // &.adjust-icon {
            //     margin-top: 4px;
            //     @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            //         /* IE10+ CSS styles go here */
            //         margin-top: 9px;
            //     }
            // }
        }
    }
        
    .container-list-values {
        min-width: 100%;
        border: 1px solid #afc2de;
        background-color: #ffffff;
        position: absolute;
        z-index: 4;

        &.hide-container {
            overflow: hidden;
            max-height: 0px;
            border: 0px;
        }

        .align-dot {
            padding: 0 5px;
        }

        .option-value {

            cursor: pointer;
            // border-bottom: 1px solid rgba(#afc2de, .5);
            font-size: 90%;
            line-height: 20px;
            white-space: nowrap;
            padding: 0px 5px;

            &:hover {
                background-color: #2a74de;
                color: #ffffff;
            }

            &.in-insertion {
                font-weight: bold;
            }

        }
    }
}