.wdd-datepicker {
    display: flex;
    flex-direction: row;
    width: 150px;

    .wdd-labeled-input {
        span {
            margin-top: 5px;
        }
    }

    .align-calendar {
        .wdd-button {
            margin: 20px 0 0 0;
        }
    }
}