.wdd-datepicker {
    display: flex;
    flex-direction: row;
    width: 160px;
    padding-left: 20px;

    > .wdd-labeled-input {
        width: 100%;
    }

    .align-calendar {
        .wdd-button {
            margin: 25px 0 0 0;
        }
    }

    .input-container{
        display: flex;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        border: 1px solid #afc2de;
        width: 100%;

        .wdd-button.icon-only {
            i {
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    /* IE10+ CSS styles go here */
                    margin-top: 7px;
                }
            }
        }
    }
}

.wbb-datepicker__container {
    position: relative;
    /* width: 300px; */
    height: 30px;
    // &__left-item {
    //     float: left;
    // }
    // &__icon {
    //     float: left;
    //     background-color: tomato;
    // }
}

.wbb-datepicker {
    &__container-date {
        position: relative;
        height: 30px;
        flex: 1;
        &__date {
            padding: 5px 10px;
        }
    }
    &__container-icon {
        position: relative;
        height: 30px;
    }

}