.wdd-datepicker {
    display: flex;
    flex-direction: row;
    width: 160px;
    padding-left: 20px;

    .wdd-labeled-input {
        span {
            // margin-top: 5px;
        }
    }

    .align-calendar {
        .wdd-button {
            margin: 25px 0 0 0;
        }
    }
}

.wbb-datepicker__container {
    position: relative;
    /* width: 300px; */
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    border: 1px solid #afc2de;
    // &__left-item {
    //     float: left;
    // }
    // &__icon {
    //     float: left;
    //     background-color: tomato;
    // }
}

.wbb-datepicker {
    &__container-date {
        position: relative;
        height: 30px;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        border: 1px solid #afc2de;
        border-right: 0;


        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &__date {
            padding: 5px 10px;
        }
    }
    &__container-icon {
        position: relative;
        height: 30px;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        border: 1px solid #afc2de;
        border-left: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        
    }

}