.wdd-filter-container {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(239, 239, 239, 0.5);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);

    .filter-section-row  {
        
        .collapsed-box {

            max-height: 55px;

            span {
                height: 55px;
                font-size: 20px;
                color: #707c8e;
            }

            .wdd-button {
                float: right;
            }
        }
    }
}

.filter-section{
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    
    .wdd-labeled-input {
        flex: 1;
        margin: 0 5px;
    }
}

wdd-filter{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 20px;    
    
    .filter-section-row{
        flex: 1;
        overflow: hidden;
        
        .filter-row{
            display: flex;
            flex-direction: row;
            margin-right: 34px;
            
            .wdd-labeled-input {
                margin: 0 5px;
                flex: 1;
                
                .wdd-input-text, .wbb-select {
                    width: 80%;
                }
            }
        }
        
        &.collapsed {
            max-height: 55px;
        }
    }
    
    .wdd-labeled-input {
        margin: 0 20px;
        
        .wdd-input-text, .wbb-select {
            width: 80%;
        }
    }
}

.filter-action{
    width: 240px;
    position: relative;
    
    .filter-action-buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        
        .wdd-button {
            &.width-adapt {
                min-width: 80px;
            }
        }
    }
}

.wdd-button.align-button {
    width: 30px;
    height: 30px;
    align-self: flex-end;
}