.wdd-autocomplete {

    position: relative;
    width: 200px;
    height: $custom-select-height;

    .wdd-input-text {
        padding-right: 33px;
        width: 190px;
    }

    .wdd-labeled-input {
        padding: 0px;

        input[disabled=disabled] {
            background-color: rgba(181, 180, 180, 0.3);
        }
        
        i {
            margin-top: 25px;
            line-height: $custom-select-height;
            cursor: pointer;
            content: '\e806';
            display: block;
            position: absolute;
            right: 12px;
            font-size: 15px;
            top: 0;
            bottom: 0;
            color: #2a74de;
            z-index: 1;

            &.adjust-icon {
                margin-top: 4px;
            }
        }
    }
        
    .container-list-values {
        min-width: 100%;
        border: 1px solid #afc2de;
        background-color: #ffffff;
        position: absolute;
        z-index: 3;

        &.hide-container {
            overflow: hidden;
            max-height: 0px;
            border: 0px;
        }

        .option-value {

            cursor: pointer;
            // border-bottom: 1px solid rgba(#afc2de, .5);
            font-size: 90%;
            line-height: 20px;
            white-space: nowrap;

            &:hover {
                background-color: #2a74de;
                color: #ffffff;
            }

        }
    }
}