.wdd-filter-container {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(239, 239, 239, 0.5);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);

    .expandable {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;

        .wdd-button {
            top: 0;
            position: absolute;
            right: 0;
            margin-right: 2px;
        }
    }

    .filter-section-row  {
        
        .collapsed-box {

            max-height: 55px;

            span {
                height: 55px;
                font-size: 20px;
                color: #707c8e;
            }

            .wdd-button {
                float: right;
            }
        }
    }
}

.filter-section{
    display: flex;
    flex: 1;
    flex-direction: row;
}

wdd-filter{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 20px;    
    
    .filter-section-row{
        flex: 1;
        // overflow: hidden;

        wdd-autocomplete{
            margin: 0 5px;
            flex: 1;
            .wdd-autocomplete{
                width: 80%;
                input {
                    width: 100%;
                    padding-left: 5px;
                }
            }
        }
        
        .filter-row{
            display: flex;
            flex-direction: row;
            margin-right: 34px;
            > wdd-autocomplete{
                margin: 0 5px;
                flex: 1;
                .wdd-autocomplete{
                    width: 80%;
                    input {
                        width: 100%;
                        padding-left: 5px;
                    }
                }
            }
            &>.wdd-labeled-input {
                margin: 0 5px;
                flex: 1;
                
                .wdd-input-text, .wbb-select {
                    width: 80%;
                }
            }
        }
        
        &.collapsed {
            max-height: 55px;
        }
    }
    
    .filter-section>.wdd-labeled-input {
        margin: 0 5px;
        flex: 1;
        
        .wdd-input-text, .wbb-select {
            width: 80%;
        }
    }
}

.filter-action{
    width: 240px;
    position: relative;
    
    .filter-action-buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        
        .wdd-button {
            &.width-adapt {
                min-width: 80px;
            }
        }
    }
}

.wdd-button.align-button {
    width: 30px;
    height: 30px;
    align-self: flex-end;
}