@import '~bootstrap/dist/css/bootstrap.min.css';

@import 'variables.scss';
@import 'button';
@import 'header';
@import 'typography';
@import 'input';
@import 'table';
@import 'gft_icons';
@import 'wddFilter';
@import 'doughnutChart';
@import 'wddAutocomplete';
@import 'dashboardFilter';
@import 'wddDatepicker';
@import 'workspaceProgress';

@import 'label';
@import 'dataDetailAttribute';

@import 'wddAlert';

html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;

    background: #eceef3;

    // min-height: 1024px;
    min-width: 1280px;
    overflow: auto;
}

input::-ms-clear {
    display: none;
}