@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~angular-resizable/angular-resizable.min.css';

@import 'variables.scss';
@import 'button';
@import 'header';
@import 'typography';
@import 'input';
@import 'table';
@import 'gft_icons';
@import 'wddFilter';
@import 'doughnutChart';
@import 'wddAutocomplete';
@import 'dashboardFilter';
@import 'entityFilter';
@import 'wddDatepicker';
@import 'workspaceProgress';

@import 'label';
@import 'dataDetailAttribute';

@import 'wddAlert';
@import 'dropdown';

@import 'datepicker';

@import 'spinner';

html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;

    background: #eceef3;

    // min-height: 1024px;
    min-width: 1024px;
    overflow: auto;
}

input::-ms-clear {
    display: none;
}

i.icon.icon-disabled{
    pointer-events: none;
}

.dataDetailWindow{
    .modal-dialog.modal-lg{
        height: 90%;
        .modal-content{
            height: 100%;
            .wwd-modal{
                height: 100%;
                .wwd-modal__body__container{
                    height: calc(100% - 75px);
                    .detail-row{
                        flex-shrink: 0;
                    }
                }
                .wwd-modal__footer{
                    height: 35px;
                    margin: 0 20px;
                    padding-top: 10px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.modal-90 {
    width: 90%;
}

.center-all-directions{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content:center;
}