<div class="BaseTabsState">
    <div class="wdd-primary-header">
        <div class="wdd-tab" ng-if="vm.SOEnabled" ng-class="{'selected': vm.selectedTab == 0}" ng-click="vm.goTo('tab.dashboardSO')">
            <i class="icon icon-dashboard"></i>
            <span ng-if="vm.numDashboards === 1">Dashboard</span>
            <span ng-if="vm.numDashboards > 1">System Owner</span>
        </div>
        <div class="wdd-tab" ng-if="vm.DQEnabled" ng-class="{'selected': vm.selectedTab == 1}" ng-click="vm.goTo('tab.dashboardRequest')">
            <i class="icon icon-dashboard"></i>
            <span ng-if="vm.numDashboards === 1">Dashboard</span>
            <span ng-if="vm.numDashboards > 1">Data Quality</span>
        </div>
        <div class="wdd-tab" ng-if="vm.UREnabled" ng-class="{'selected': vm.selectedTab == 2}" ng-click="vm.goTo('tab.dashboardUserRequest')">
            <i class="icon icon-dashboard"></i>
            <span ng-if="vm.numDashboards === 1">Dashboard</span>
            <span ng-if="vm.numDashboards > 1">Utente Richiedente</span>
        </div>
        <div class="wdd-tab" ng-class="{'selected': vm.selectedTab == 3}" ng-click="vm.goTo('tab.search')">
            <i class="icon icon-ricerca"></i>
            <span>Consultazione</span>
        </div>
    </div>
    <div class="states-holder">
        <ui-view/>
    </div>
</div>
<div id="alert-holder" class="wdd-alert-holder"></div>