<div class="BaseTabsState">
    <div class="wdd-primary-header">
        <div class="wdd-tab" ng-class="{'selected': vm.selectedTab == 0}" ng-click="vm.selectedTab = 0;vm.goTo('tab.dashboardSO')">
            <i class="icon icon-dashboard"></i>
            <span>Dashboard <br /> System Owner</span>
        </div>
        <div class="wdd-tab" ng-class="{'selected': vm.selectedTab == 1}" ng-click="vm.selectedTab = 1;vm.goTo('tab.dashboardRequest')">
            <i class="icon icon-dashboard"></i>
            <span>Dashboard <br /> Data Quality</span>
        </div>
        <div class="wdd-tab" ng-class="{'selected': vm.selectedTab == 2}" ng-click="vm.selectedTab = 2;vm.goTo('tab.dashboardUserRequest')">
            <i class="icon icon-dashboard"></i>
            <span>Dashboard <br /> Utente Richiedente</span>
        </div>
        <div class="wdd-tab" ng-class="{'selected': vm.selectedTab == 3}" ng-click="vm.selectedTab = 3;vm.goTo('tab.search')">
            <i class="icon icon-ricerca"></i>
            <span>Consultazione</span>
        </div>
    </div>
    <div class="states-holder">
        <ui-view/>
    </div>
</div>
<div id="alert-holder" class="wdd-alert-holder"></div>