<div class="data-detail-page">
    <div class="detail-row">
        <div class="left-side">
            <button class="wdd-button alt-color" ng-click="vm.back()">TORNA INDIETRO</button>
        </div>
        <div class="center">
            <label>{{vm.visibleDataDetails[0].term.name}}</label>
        </div>
        <div class="right-side">
            <button class="wdd-button spacingRight ">
                <i class="icon icon-new"></i>
                NUOVA ENTITA'
            </button>
            <button class="wdd-button" ng-click="vm.changeAllDetailStatus(true)" ng-if="vm.checkDetailStatus()">
                <i class="icon icon-espandi-tutto"></i>
                ESPANDI TUTTO
            </button>
            <button class="wdd-button" ng-click="vm.changeAllDetailStatus(false)" ng-if="!vm.checkDetailStatus()">
                <i class="icon icon-espandi-tutto"></i>
                COMPRIMI TUTTO
            </button>
        </div>
    </div>

    <div class="process-steps">
        <div class="process-steps__container">
            <div class="step" ng-repeat="pro in vm.processes" ng-class="{'step--complete': pro.enabled}">
                <div class="title">
                    {{ pro.label }}
                </div>
                <div class="bar">
                    <div class="dot">
                        <div class="dot-in-dot">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="details-container">
        <div class="detail-container" ng-if="vm.visibleDataDetails" ng-repeat="detail in vm.visibleDataDetails track by $index" ng-class="{'active': detail.isOpened}">
            <div class="header">
                <div class="header-icon">
                    <button class="wdd-button icon-only has-background" ng-class="{'alt-color': detail.isOpened}" ng-click="vm.showAttributeBody(detail)">
                        <i class="icon" ng-class="{'icon-down-arrow': !detail.isOpened, 'icon-up-arrow': detail.isOpened}"></i>
                    </button>
                </div>
                <div class="header-title">
                    <label class="header-title-elem type-elem">{{detail.term.termtype}}</label>
                    <label class="header-title-elem name-elem">{{detail.term.name}}</label>
                </div>
                <div class="header-label">
                    <label class="wdd-label complete">{{detail.status}}</label>
                </div>
            </div>
            <div class="body">
                <div class="attribute-body" ng-repeat="attr in detail.attributes | orderBy: 'position'">
                    <att ng-model="attr.default_value" attribute-name="attr.name" frontend-type="{{attr.ftype}}" domain-obj-value="{{ {array: attr.domain_values} }}"
                        reset-attribute="vm.resetChanges(resetFunction)">
                    </att>
                </div>
            </div>
            <div class="footer">
                <button class="wdd-button alt-color">ELIMINA ENTITA'</button>
                <button class="wdd-button alt-color" ng-disabled="!vm.checkObject(detail.attributes)" ng-click="vm.resetAttribute">ANNULLA MODIFICHE</button>
                <button class="wdd-button" ng-disabled="!vm.checkObject(detail.attributes)">SALVA MODIFICHE</button>
            </div>
        </div>
    </div>
</div>