<div class="data-detail-page">
    <div class="detail-row">
        <div class="left-side">
            <button class="wdd-button alt-color">TORNA INDIETRO</button>
        </div>
        <div class="center">
            <label>Dato 3</label>
        </div>
        <div class="right-side">
            <button class="wdd-button">
                <i class="icon icon-down-arrow"></i>
                ESPANDI TUTTO
            </button>
        </div>
    </div>

    <div class="details-container">
        <div class="detail-container" ng-repeat="detail in vm.listDataDetails track by $index">
            <div class="header">
                <div class="header-icon">
                    <button class="wdd-button icon-only">
                        <i class="icon icon-down-arrow"></i>
                    </button>
                </div>
                <div class="header-title">
                    <label class="header-title-elem type-elem">{{detail.label}}</label>
                    <label class="header-title-elem name-elem">{{detail.label}}</label>
                </div>
                <div class="header-label">
                    <label class="wdd-label complete">{{detail.status}}</label>
                </div>
            </div>
            <div class="body">
                <div ng-repeat="attr in detail.attributes | orderBy: 'show_order'">
                    <att ng-model="attr.default_value" attribute-name="{{attr.attribute_name}}" attribute-type="{{attr.attribute_type}}" frontend-type="{{attr.frontend_type}}"
                        is-required="{{attr.is_required}}" is-visible="{{attr.is_visible}}" is-editable="{{attr.is_editable}}"
                        attribute-values="{{attr.default_value}}" domani-value="{{attr.domani_value}}">
                    </att>
                </div>
            </div>
            <div class="footer">
                <button class="wdd-button alt-color">ANNULLA MODIFICHE</button>
                <button class="wdd-button">SALVA MODIFICHE</button>
            </div>
        </div>
    </div>
</div>