.dashboardSO {
    display: flex;
    align-items: center;
    height: 100%;
    
    .chart-doghout-dash{
        height: 100%;
        padding: 9% 0;
        border-right: 1px solid rgba(#93acd0, 0.5);
        margin-right: 30px;
    }

    .table-dash {
        padding: 0;
    }
}