<div class="dashboardSO">
    <div class="col-xs-5 chart-doghout-dash">
        <h2 class="title">Attività in corso</h2>
        <doughnut-chart array-values="vm.chartValues" hide-label="true"></doughnut-chart>
    </div>

    <div class="col-xs-7 table-dash">

        <dashboard-table ng-if="vm.tableTodoList" bgcolor="#0097D9" table-title="Richieste di documentazione" table-body="vm.tableTodoList"
            header-type="vm.headerTodoList" child-page="{{vm.chartValues[0].childPage}}"></dashboard-table>

        <dashboard-table ng-if="vm.tableInitiativeCensuses" bgcolor="#00796B" table-title="Censimenti di iniziativa" table-body="vm.tableInitiativeCensuses"
            header-type="vm.headerInitiativeCensuses" child-page="{{vm.chartValues[1].childPage}}"></dashboard-table>

    </div>
</div>