<div class="automatic-events">
    <div class="wbb-select select-child">
        <select name="stato" ng-model="vm.pageChild" ng-change="vm.changeChild()">
            <option value="tab.documentationRequests">Richieste di documentazione</option>
            <option value="tab.approvalRequests">Richieste di approvazione</option>
            <option value="">Eventi automatici</option>
        </select>
        <i class="icon icon-down-arrow"></i>
    </div>
    <button class="wdd-button excel pull-right">
        <i class="icon icon-excel"></i> excel
    </button>
    <button class="wdd-button excel pull-right">
        <i class="icon icon-filter"></i> filtra
    </button>
    <hr />
    <div class="filter-row">
        <div class="wdd-labeled-input">
            <label for="processOwner">Process Owner</label>
            <div class="wbb-select">
                <select name="processOwner" ng-model="vm.processOwnerChosen" ng-options="opt as opt.label for opt in vm.filterBootstrap.processOwner">
                </select>
                <i class="icon icon-down-arrow"></i>
            </div>
        </div>
        <div class="wdd-labeled-input">
            <label for="systemOwner">System Owner</label>
            <div class="wbb-select">
                <select name="systemOwner" ng-model="vm.systemOwnerChosen" ng-options="opt as opt.label for opt in vm.filterBootstrap.systemOwner">
                </select>
                <i class="icon icon-down-arrow"></i>
            </div>
        </div>
        <div class="wdd-labeled-input">
            <label for="filterStatus">Stato</label>
            <div class="wbb-select">
                <select name="filterStatus" ng-model="vm.statusChosen" ng-options="opt as opt.label for opt in vm.filterStatus">
                </select>
                <i class="icon icon-down-arrow"></i>
            </div>
        </div>
    </div>

    <wdd-filter applied-filter="vm.filterChanged(array_filter_text)"></wdd-filter>

    <wdd-table ng-if="vm.rawData && vm.headerTable" service-response-obj="{{ {array: vm.rawData} }}" header-array-obj="{{ {array: vm.headerTable} }}"
        pagination-bool="{{ {boolean: vm.tablePagination} }}" page-size-num="{{ {number: vm.tablePageSize} }}" has-primary-navigation-btn="true"
        path-primary-navigation="tab.dataDetail" is-checked-bool="{{ {boolean: true} }}" has-primary-label="Approva" has-secondary-label="Inoltra"></wdd-table>

</div>