<div class="wdd-secondary-header">
    <h2 class="title">Workspace</h2>
</div>
<div class="dashboardUserRequest">
    <div class="chart-doghout-dash" wdd-spinner="[vm.responsibleUserRequest.$$state]" spinner-style="floating">
        <doughnut-chart ng-if="vm.dataAvailable" array-values="vm.chartValues" hide-label="true"></doughnut-chart>
    </div>

    <div class="vertical-line"></div>

    <div class="progres-mageolder" wdd-spinner="[vm.statusRequest.$$state]" spinner-style="floating">
        <div class="progress-overall-holder">
            <h2 class="title">Avanzamento Complessivo</h2>
            <div class="progress-overall-line-holder">
                <div class="progress-overall-line">
                    <div class="active-overall-line" ng-style="{'width': vm.overallPercentage + '%'}">
                        <div class="overall-number" ng-class="{'under-20': vm.overallPercentage < 20, 'over-20': vm.overallPercentage >= 20}">{{vm.overallPercentage}}%</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="workspace-holder">
            <h2 class="title">Avanzamento Workspace</h2>
            <div class="list-holder">
                <wdd-progress ng-repeat="workspaceData in vm.workspaceList" workspace-name="{{ workspaceData.label }}" request-data="{{ workspaceData.requested }}"
                    censuses-data="{{ workspaceData.censed }}"></wdd-progress>
            </div>
        </div>
    </div>
</div>