<div class="dashboard-filter" wdd-spinner="[promises.statusPromise.$$state, promises.workspacePromise.$$state, promises.descriptionPromise.$$state]"
    ng-class="{'collapsed': isFilterActive}">
    <div class="expandable" ng-if="showCollapser">
        <button class="wdd-button icon-only" ng-click="expandableFilter()">
            <i class="icon" ng-class="{'icon-down-arrow': !isFilterActive, 'icon-right-arrow': isFilterActive}"></i>
        </button>
    </div>
    <div class="collapsed-box" ng-show="isFilterActive">
        <span>Filtri</span>
    </div>
    <wdd-autocomplete ng-show="!isFilterActive" ng-model="workspaceSelected.value" label="{{labelWorkspace}}" placeholder="{{placeholderWorkspace}}"
        type="workspace" new-value="false" promise="promises.workspacePromise" dipendence="{{ [descriptionSelected.value, statusSelected.value, typePage] }}"
        is-readonly="true"></wdd-autocomplete>

    <wdd-autocomplete ng-show="!isFilterActive" ng-model="descriptionSelected.value" label="{{labelDescription}}" placeholder="{{placeholderDescription}}"
        type="description" new-value="false" promise="promises.descriptionPromise" dipendence="{{ [workspaceSelected.value, statusSelected.value, typePage] }}"
        is-readonly="true"></wdd-autocomplete>

    <wdd-autocomplete ng-show="!isFilterActive" ng-model="statusSelected.value" label="{{labelStatus}}" placeholder="{{placeholderStatus}}"
        type="status" new-value="false" promise="promises.statusPromise" dipendence="{{ [workspaceSelected.value, descriptionSelected.value, typePage] }}"
        is-readonly="true"></wdd-autocomplete>

    <wdd-datepicker ng-show="!isFilterActive" ng-model="startDate" label="{{labelStartDate}}" dependence="endDate" limit="max"></wdd-datepicker>

    <wdd-datepicker ng-show="!isFilterActive" ng-model="endDate" label="{{labelEndDate}}" dependence="startDate" limit="min"></wdd-datepicker>

    <div class="filter-action" ng-show="!isFilterActive">
        <button class="wdd-button width-adapt" ng-click="resetFilter()">Pulisci</button>
        <button class="wdd-button width-adapt last-button" ng-click="setFilter()" ng-disabled="ableSearchButton()">Ricerca</button>
    </div>
</div>