<div class="wdd-table dashboard-table">
    <table ng-click="goToChildPage()">
        <caption ng-style="{'background-color' : bgcolor}">
            {{tableTitle}}
        </caption>
        <tr>
            <th ng-repeat="header in headerArray track by $index" class="dashboard-table-cell">
                {{ header.label }}
            </th>
        </tr>

        <tr ng-repeat="obj in tableBody track by $index">
            <td class="dashboard-table-cell" ng-repeat="header in headerArray">
                <div tooltip-placement="top" tooltip-class="tooltip-test" uib-tooltip="{{obj[header.value].label}}"
                    tooltip-enable="false" show-tooltip>
                    {{obj[header.value].label}}
                </div>
            </td>
        </tr>
    </table>

</div>