<div class="dashboard-filter">
    <wdd-autocomplete ng-model="workspaceSelected.value" label="{{labelWorkspace}}" placeholder="{{placeholderWorkspace}}" type="workspace"
        list-values="workspaceList" ng-change="change()" new-value="vm.getNewValue"></wdd-autocomplete>

    <wdd-autocomplete ng-model="descriptionSelected.value" label="{{labelDescription}}" placeholder="{{placeholderDescription}}"
        type="description" list-values="descriptionList" ng-change="change()" new-value="vm.getNewValue"></wdd-autocomplete>

    <div class="wdd-labeled-input dash-filter-input">
        <label for="entity">Stato</label>
        <div class="wbb-select">
            <select name="stato" ng-model="status" ng-options="opt.id as opt.label for opt in statusList" ng-change="updateAttribute(item, filterSetted[$index])">
                <option value="">Seleziona stato</option>
            </select>
            <i class="icon icon-down-arrow"></i>
        </div>
    </div>

    <wdd-datepicker ng-model="startDate" label="{{labelStartDate}}"></wdd-datepicker>

    <wdd-datepicker ng-model="endDate" label="{{labelEndDate}}"></wdd-datepicker>

    <div class="filter-action">
        <!-- <div class="wdd-button">
            applica filtri2
        </div>
        
        <button class="wdd-button icon-only">
            <i class="icon icon-reset"></i>
        </button> -->
        <button class="wdd-button width-adapt" ng-click="resetFilter()">Pulisci</button>
        <button class="wdd-button width-adapt last-button" ng-click="setFilter()">Ricerca</button>
    </div>
</div>