<div class="attribute-list">

    <div class="attribute-name" ng-class="{'name-focus-enabled': isFocusEnabled}">
        {{attributeName}}
        <span class="attribute-required" ng-if="isRequired === 'true'">*</span>
        <div class="file-manage" ng-if="isFile">
            <label for="attachFile">
                <i class="icon icon-new"></i>
            </label>
            <input id="attachFile" type="file" class="hiddenAttachFile" onchange="angular.element(this).scope().fileNameChanged(this.files)">
            <i class="icon icon-delete" ng-click="removeFile()"></i>
        </div>
        <div class="file-manage" ng-if="canAddEntity && isEditable !== 'false'">
            <i class="icon icon-new" ng-click="addEntity()"></i>
            <i class="icon icon-delete" ng-click="removeEntity()"></i>
        </div>
    </div>

    <div class="attribute-value">

        <div ng-if="isTextArea">
            <textarea class="wdd-textarea" ng-if="isEditable === 'true'" ng-model="model.value" ng-focus="setFocusOnAttribute(true)" ng-blur="setFocusOnAttribute(false)"
                ng-change="valueChanged()"></textarea>
            <div class="textarea-disabled" ng-if="isEditable === 'false'">
                {{model.value}}
            </div>
        </div>

        <div ng-if="isInput">
            <input class="wdd-input-text" ng-model="model.value" ng-focus="setFocusOnAttribute(true)" ng-blur="setFocusOnAttribute(false)"
                ng-change="valueChanged()" ng-disabled="isEditable === 'false'"/>
        </div>

        <div ng-if="isRadioButton" ng-hide="true">
            <div class="radio" ng-repeat="value in domainValue track by $index">
                <label>
                    <input type="radio" name="opt_{{attributeName}}" ng-model="model.value" value="{{value}}" ng-focus="setFocusOnAttribute(true)"
                        ng-blur="setFocusOnAttribute(false)" ng-change="valueChanged()"> {{value.label}}
                </label>
            </div>
        </div>

        <div ng-if="isSelect">
            <div class="wbb-select" ng-disabled="isEditable === 'false'">
                <select ng-model="model.value" ng-options="opt.label as opt.label for opt in domainValue" ng-focus="setFocusOnAttribute(true)"
                    ng-blur="setFocusOnAttribute(false)" ng-change="valueChanged()" ng-disabled="isEditable === 'false'">
                </select>
                <i class="icon icon-down-arrow"></i>
            </div>
        </div>

        <div ng-if="isFlag">
            <input type="checkbox" name="" id="">
        </div>

        <div ng-if="isCheckBox">
            <div class="checkbox" ng-if="!hideCheckbox" ng-repeat="value in domainValue track by $index">
                <label>
                    <input type="checkbox" name="opt_{{attributeName}}" ng-model="checkboxModel[value]" value="{{value}}" ng-focus="setFocusOnAttribute(true)"
                        ng-blur="setFocusOnAttribute(false)" ng-change="valueChanged()"> {{value.label}}
                </label>
            </div>
            <div ng-if="hideCheckbox" ng-repeat="value in domainValue track by $index">
                {{value.label}}
            </div>
        </div>

        <div ng-if="isFile">
            <div class="checkbox" ng-repeat="value in fileList track by $index">
                <label ng-if="!value.removed">
                    <input type="checkbox" ng-click="changeSelectStatus($index)"> {{value.label}}
                </label>
            </div>
        </div>
    </div>
</div>