<div class="donut-chart-graph">
    <canvas width="{{width}}" height="{{height}}" id="{{chartId}}"></canvas>
    <div class="label-chart">
        <div class="whiteCircle"></div>
        <label class="numberLabel">{{numLabelChart}} </label>
        <label class="activityLabel" ng-hide="hideLabel">Attività</label>
    </div>
</div>

<div class="chart-legend-container">
    <div class="container-block" ng-class="{'container-max-with': centeredLegend}">
        <div class="chart-legend" ng-style="{color: arrayValues[key].color}" ng-repeat="(key, legend) in labelArray" ng-click="goToChild(key)">
            <div class="lf-block">{{legend.value}}</div>
            <div class="right-block">{{legend.label}}</div>
        </div>
    </div>
</div>