<div class="entity-filter" wdd-spinner="[promises.statusPromise.$$state, promises.entityPromise.$$state, promises.entityNamePromise.$$state, promises.descriptionPromise.$$state]"
    ng-class="{'collapsed': isFilterActive}">
    <div class="expandable" ng-if="showCollapser">
        <button class="wdd-button icon-only" ng-click="expandableFilter()">
            <i class="icon" ng-class="{'icon-down-arrow': !isFilterActive, 'icon-right-arrow': isFilterActive}"></i>
        </button>
    </div>
    <div class="collapsed-box" ng-show="isFilterActive">
        <span>Filtri</span>
    </div>
    <wdd-autocomplete ng-show="!isFilterActive" ng-model="entitySelected.value" label="{{labelEntity}}" placeholder="{{placeholderEntity}}"
        type="ENT_TYPE" new-value="false" promise="promises.entityPromise" dipendence="{{ [typePage, entityNameSelected.value, descriptionSelected.value, statusSelected.value] }}"
        is-readonly="true"></wdd-autocomplete>

    <wdd-autocomplete ng-show="!isFilterActive" ng-model="entityNameSelected.value" label="{{labelEntityName}}" placeholder="{{placeholderEntityName}}"
        type="ENT_NAME" new-value="false" promise="promises.entityNamePromise" dipendence="{{ [typePage, entitySelected.value, descriptionSelected.value, statusSelected.value] }}"
        is-readonly="true"></wdd-autocomplete>

    <wdd-autocomplete ng-show="!isFilterActive" ng-model="descriptionSelected.value" label="{{labelEntityDescription}}" placeholder="{{placeholderEntityDescription}}"
        type="ENT_DESCR" new-value="false" promise="promises.descriptionPromise" dipendence="{{ [typePage, entitySelected.value, entityNameSelected.value, statusSelected.value] }}"
        is-readonly="true"></wdd-autocomplete>

    <wdd-autocomplete ng-show="!isFilterActive" ng-model="statusSelected.value" label="{{labelStatus}}" placeholder="{{placeholderStatus}}"
        type="ENT_STATUS" new-value="false" promise="promises.statusPromise" dipendence="{{ [typePage, entitySelected.value, entityNameSelected.value, descriptionSelected.value] }}"
        is-readonly="true"></wdd-autocomplete>

    <div class="filter-action" ng-show="!isFilterActive">
        <button class="wdd-button width-adapt" ng-click="resetFilter()">Pulisci</button>
        <button class="wdd-button width-adapt last-button" ng-click="setFilter()" ng-disabled="ableSearchButton()">Ricerca</button>
    </div>
</div>