<div class="wdd-autocomplete">
    <div class="wdd-labeled-input">
        <label ng-if="label">{{label}}</label>
        <input class="wdd-input-text" ng-model="model.label" type="text" placeholder="{{placeholder}}" ng-change="changedLabel()"
            ng-model-options="{ debounce: 1000 }" ng-disabled="isEditable" />
        <i id="autocomplete-clicker" class="icon icon-down-arrow" ng-class="{'adjust-icon': !label}" ng-click="showListValues()"></i>
    </div>

    <div id="autocomplete-value-list" class="container-list-values" ng-class="{'hide-container': !isListVisible}">
        <div ng-if="newValue" class="option-value" ng-click="itemSelected({label: model.label, id: model.label})">
            {{model.label}}
        </div>

        <div class="option-value" ng-repeat="value in listValues" ng-click="itemSelected(value)">
            {{value.label}}
        </div>
    </div>

</div>