<div class="wdd-datepicker">
    <div class="wdd-labeled-input">
        <label>{{label}}</label>
        <span uib-datepicker-popup="{{format}}" ng-model="model.date" is-open="popup.opened" datepicker-options="options" show-button-bar="false">
            {{model.date | date:format}}
        </span>
    </div>
    <div class="align-calendar">
        <button class="wdd-button icon-only" ng-click="openDatepicker()">
            <i class="icon icon-calendar"></i>
        </button>
    </div>
</div>