<div class="wdd-filter-container" wdd-spinner="[promises.getEntityPromise.$$state, promises.getAttributePromise.$$state, promises.processOwnerPromise.$$state, promises.systemOwnerPromise.$$state]">
    <div class="expandable">
        <button class="wdd-button icon-only" ng-click="expandableFilter()">
            <i class="icon" ng-class="{'icon-down-arrow': !isFilterActive, 'icon-right-arrow': isFilterActive}"></i>
        </button>
    </div>
    <div class="filter-section-row" ng-class="{'collapsed': isFilterActive}">
        <div class="collapsed-box" ng-show="isFilterActive">
            <span>Filtri</span>
        </div>
        <div class="filter-row" ng-if="!hideFirstLine" ng-show="!isFilterActive" ng-class="{'correct-width': !showStatusInput}">
            <wdd-autocomplete ng-model="values.processOwnerChosen.value" label="Process Owner" placeholder="Seleziona" type="processOwner" new-value="false"
                promise="promises.processOwnerPromise" is-readonly="true"></wdd-autocomplete>
            <wdd-autocomplete ng-model="values.systemOwnerChosen.value" label="System Owner" placeholder="Seleziona" type="systemOwner" new-value="false"
                promise="promises.systemOwnerPromise" is-readonly="true"></wdd-autocomplete>

            <div class="wdd-labeled-input" ng-show="showStatusInput">
                <label for="filterStatus">Stato</label>
                <div class="wbb-select">
                    <select name="filterStatus" ng-model="values.statusChosen.label" ng-options="opt.label as opt.label for opt in filterStatus">
                    </select>
                    <i class="icon icon-down-arrow"></i>
                </div>
            </div>
        </div>

        <div class="filter-section" ng-repeat="item in filtersArray" ng-show="!isFilterActive">
            <wdd-autocomplete ng-model="filterSetted[$index].entity" label="Entità" placeholder="Seleziona un'entità" type="entity" promise="promises.getEntityPromise"
                dipendence="{{ [filterSetted[$index].attribute] }}" new-value="false" is-readonly="true"></wdd-autocomplete>
            <wdd-autocomplete ng-model="filterSetted[$index].attribute" label="Attributo" placeholder="Seleziona un attributo" type="attribute"
                promise="promises.getAttributePromise" dipendence="{{ [filterSetted[$index].entity] }}" new-value="false" is-readonly="true"></wdd-autocomplete>

            <div class="wdd-labeled-input">
                <label for="text">Testo</label>
                <input class="wdd-input-text" ng-model="filterSetted[$index].text" type="text" name="text" placeholder="Ricerca testuale"
                />
            </div>

            <button class="wdd-button icon-only align-button" ng-click="removeFilter(item)">
                <i class="icon icon-delete"></i>
            </button>
        </div>
    </div>

    <div class="filter-action" ng-show="!isFilterActive">
        <div class="filter-action-buttons">
            <button class="wdd-button icon-only align-button" ng-click="addNewFilter()" ng-disabled="!checkTextTyped()">
                <i class="icon icon-add-filtro"></i>
            </button>
            <button class="wdd-button width-adapt" ng-click="resetFilter()">Pulisci</button>
            <button class="wdd-button width-adapt" ng-click="setFilter()" ng-disabled="!checkTextTyped()">Ricerca</button>
        </div>
    </div>
</div>