<div class="filter-section-row" ng-class="{'collapsed': isFilterActive}">
    <div class="filter-section" ng-repeat="item in filtersArray">

        <div class="wbb-select">
            <select name="entity">
                <option ng-repeat="opt in item.entity" value="{{ opt }}">{{ opt }}</option>
            </select>
            <i class="icon icon-down-arrow"></i>
        </div>

        <div class="wbb-select">
            <select name="attribute">
                <option ng-repeat="opt in item.attribute" value="{{ opt }}">{{ opt }}</option>
            </select>
            <i class="icon icon-down-arrow"></i>
        </div>

        <input class="wdd-input-text" type="text" name="text" />


        <button class="wdd-button icon-only" ng-click="removeFilter(item)">
            <i class="icon icon-delete"></i>
        </button>

    </div>
</div>

<div class="filter-action">
    <div class="filter-action-buttons">
        <button class="wdd-button icon-only" ng-click="addNewFilter()">
            <i class="icon icon-add-filtro"></i>
        </button>
        <button ng-hide="isFilterActive" class="wdd-button" ng-click="setFilter()">Attiva filtri</button>
        <button ng-hide="!isFilterActive" class="wdd-button" ng-click="showFilter()"><i class="icon icon-down-arrow"></i>Espandi</button>
    </div>
</div>