<!-- <td class="first-column-child-table" ng-if="isFromChildTable"></td> -->
<td ng-if="action">
    <div ng-class="{'align-action': rowChecked && rowCollapse}">
        <div class="check-holder" ng-if="rowChecked && !isFromChildTable">
            <input ng-show="rowData.ableCheck" type="checkbox" ng-model="rowData.isChecked" ng-change="checkData()" />
        </div>
        <div ng-if="rowChecked && isFromChildTable">
            <input ng-show="rowData.ableCheck" type="checkbox" ng-model="rowData.isChecked" ng-change="checkData()" />
        </div>
        <div ng-if="rowCollapse">
            <button class="wdd-button icon-only" ng-click="doAction(arrayAction[0])" ng-class="{'has-checkable-child': rowData.hasCheckableChild}">
                <i class="icon" ng-class="{'icon-right-arrow': rowData.workspace.collapse, 'icon-down-arrow': !rowData.workspace.collapse}"></i>
            </button>
        </div>
    </div>
</td>
<td wdd-cell ng-repeat="c in column track by $index" cell="rowData[c.value]" header="c.value" class="has-border" navigation-in-popover="navigationInPopover" row-data="rowData" is-sas="isSas" has-relation-modal="hasRelationModal" has-creation="hasCreation" action-function="actionFunction(rowSelected)" row-key="rowKey"
has-info-btn="hasInfoBtn" has-ternary-navigation-btn="hasTernaryNavigationBtn" has-secondary-navigation-btn="hasSecondaryNavigationBtn"
has-primary-navigation-btn="hasPrimaryNavigationBtn" allowed-columns-data-detail="allowedColumnsDataDetail"></td>

<td table-icon-menu class="icon-container" ng-if="hasIcon && !navigationInPopover" ng-class="{'has-two-el': hasSecondaryNavigationBtn || hasRelationModal, 'has-tree-el': hasTernaryNavigationBtn}" row-data="rowData" is-sas="isSas" has-relation-modal="hasRelationModal" has-creation="hasCreation" action-function="actionFunction(rowSelected)" row-key="rowKey" has-info-btn="hasInfoBtn" has-ternary-navigation-btn="hasTernaryNavigationBtn" has-secondary-navigation-btn="hasSecondaryNavigationBtn" has-primary-navigation-btn="hasPrimaryNavigationBtn" navigation-in-popover="navigationInPopover"></td>

<!-- <td ng-if="isFromChildTable"></td>-->