<td ng-if="action">
    <div ng-if="rowCollapse">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[0])">
            <i class="icon icon-down-arrow"></i>
        </button>
    </div>
    <div ng-if="rowChecked">
        <input type="checkbox">
    </div>
</td>

<td wdd-cell ng-repeat="c in column track by $index" cell="rowData[c.value]"></td>

<td class="icon-container" ng-if="hasIcon">
    <div ng-if="hasInfoBtn">
        <button class="wdd-button icon-only">
            <i class="icon icon-info"></i>
        </button>
    </div>
    <div class="col-primary-navigation" ng-if="hasPrimaryNavigationBtn">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[3])">
            <i class="icon icon-workspace-details"></i>
        </button>
    </div>
    <div class="col-secondary-navigation" ng-if="hasSecondaryNavigationBtn">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[4])">
            <i class="icon icon-list"></i>
        </button>
    </div>
</td>