<!-- <td class="first-column-child-table" ng-if="isFromChildTable"></td> -->
<td ng-if="action" ng-class="{'align-action': rowChecked && rowCollapse}">
    <div class="check-holder" ng-if="rowChecked && !isFromChildTable">
        <input ng-show="rowData.ableCheck" type="checkbox" ng-model="rowData.isChecked" ng-change="checkData()" />
    </div>
    <div ng-if="rowChecked && isFromChildTable">
        <input ng-show="rowData.ableCheck" type="checkbox" ng-model="rowData.isChecked" ng-change="checkData()" />
    </div>
    <div ng-if="rowCollapse">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[0])" ng-class="{'has-checkable-child': rowData.hasCheckableChild}">
            <i class="icon" ng-class="{'icon-right-arrow': rowData.workspace.collapse, 'icon-down-arrow': !rowData.workspace.collapse}"></i>
        </button>
    </div>
</td>

<td wdd-cell ng-repeat="c in column track by $index" cell="rowData[c.value]" header="c.value" class="has-border"></td>

<td class="icon-container" ng-if="hasIcon" ng-class="{'has-two-el': hasSecondaryNavigationBtn, 'has-tree-el': hasTernaryNavigationBtn}">
    <div ng-if="hasInfoBtn">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[2])" tooltip-placement="left" tooltip-class="tooltip-test"
            uib-tooltip="Info" tooltip-enable="false" show-tooltip>
            <i class="icon icon-info"></i>
        </button>
    </div>
    <div class="col-primary-navigation" ng-if="hasPrimaryNavigationBtn">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[3])" tooltip-placement="left" tooltip-class="tooltip-test"
            uib-tooltip="Dettaglio Dato" tooltip-enable="false" show-tooltip>
            <i class="icon icon-workspace-details"></i>
        </button>
    </div>
    <div class="col-primary-navigation" ng-if="hasCreation">
        <button ng-show="hideCreation()" class="wdd-button icon-only" ng-click="doAction(arrayAction[5])" tooltip-placement="left" tooltip-class="tooltip-test" uib-tooltip="Inserisci Dato" tooltip-enable="false" show-tooltip>
            <i class="icon icon-new"></i>
        </button>
    </div>
    <div class="col-secondary-navigation" ng-if="hasSecondaryNavigationBtn">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[4])" tooltip-placement="left" tooltip-class="tooltip-test"
            uib-tooltip="Data Lineage" tooltip-enable="false" show-tooltip ng-if="!isSas || hasTernaryNavigationBtn">
            <i class="icon icon-lineage"></i>
        </button>
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[6])" tooltip-placement="left" tooltip-class="tooltip-test"
            uib-tooltip="Lineage SAS" tooltip-enable="false" show-tooltip ng-if="!hasTernaryNavigationBtn && isSas">
            <i class="icon icon-lineage-sas"></i>
        </button>
    </div>
    <div class="col-ternary-navigation" ng-if="hasTernaryNavigationBtn">
        <button class="wdd-button icon-only" ng-click="doAction(arrayAction[6])" tooltip-placement="left" tooltip-class="tooltip-test"
            uib-tooltip="Lineage SAS" tooltip-enable="false" show-tooltip ng-if="hasTernaryNavigationBtn && isSas">
            <i class="icon icon-lineage-sas"></i>
        </button>
    </div>
</td>
<!-- <td ng-if="isFromChildTable"></td> -->