<div ng-show="promise.$$state.status == 0" wdd-spinner="[promise.$$state]" spinner-style="floating" style="height: 400px;width: 100%;"></div>
<div class="wdd-table" ng-show="serviceResponse && promise.$$state.status != 0" ng-class="{'child-table': isChild}">
    <table ng-class="{'expandable-table': expandable}">
        <thead>
            <th ng-if="isChild" class="baseHeaderIconWidth"></th>
            <th ng-if="expandable || isChecked" class="baseHeaderIconWidth">
                <div ng-if="isChecked">
                    <input type="checkbox" ng-model="isSelectAll.value" ng-change="checkRowsSelection()" />
                </div>
            </th>
            <th ng-repeat="item in headerArray track by $index" resizable r-directions="['right']">
                {{item.label}}
            </th>
            <th ng-if="hasIcon" class="baseHeaderIconWidth" ng-class="{'hasOneIcon': iconNumber == 1, 'hasTwoIcon': iconNumber == 2, 'hasTreeIcon': iconNumber == 3}"></th>
            <th ng-if="isChild" class="baseHeaderIconWidth"></th>
        </thead>
        <tbody>

            <tr class="base-row" wdd-row ng-show="serviceResponse" ng-repeat-start="data in serviceResponse track by $index" row-data="data"
                column="headerArray" action-function="rowAction(rowSelected)" row-key="$index" row-checked="isChecked" row-collapse="expandable"
                has-info-btn="info" has-primary-navigation-btn="primaryNavigation" has-secondary-navigation-btn="secondaryNavigation"
                has-ternary-navigation-btn="ternaryNavigation" has-creation="hasCreation" is-from-child-table="isChild" check-row="checkValueChange({data: data})"
                is-sas="isToSas"></tr>

            <tr ng-if="expandable" ng-repeat-end="" ng-class="{'collapse': data.workspace.collapse}">
                <td class="expandable-container" colspan="{{childCollspan()}}">
                    <wdd-table ng-if="data.data_fields" reload-data="vm.test" service-response-obj="{{ {array: data.data_fields} }}" header-array-obj="{{ {array: headerArrayExpandable} }}"
                        pagination-bool="{{ {boolean: pagination} }}" page-size-num="{{ {number: pageSize} }}" is-child="true"
                        is-checked-bool="{{ {boolean: isChildChecked} }}" has-primary-navigation-btn="true" path-primary-navigation="{{pathPrimaryNavigation}}"></wdd-table>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="under-table" ng-if="!isChild">
        <div class="left-side">
            <button class="wdd-button icon-only" tooltip-placement="right" tooltip-class="tooltip-test" uib-tooltip="Esporta" tooltip-enable="false"
                show-tooltip ng-csv="printRecordSelected()" lazy-load="true" filename="{{ selectedFilename }}" csv-column-order="selectedColmnOrder"
                field-separator=";" csv-header="selectedHeader" ng-disabled="serviceResponse.length === 0">
                <i class="icon icon-excel"></i>
            </button>
        </div>
        <div class="right-side">
            <button class="wdd-button" ng-if="hasTertiaryLabel" ng-click="tertiaryAction()" ng-disabled="disabledTertiaryLabelWithEmptyResponse && serviceResponse.length === 0">{{hasTertiaryLabel}}</button>
            <button class="wdd-button" ng-if="hasSecondaryLabel" ng-click="secondaryAction()" ng-disabled="disabledSecondaryLabelWithEmptyResponse && serviceResponse.length === 0">{{hasSecondaryLabel}}</button>
            <button class="wdd-button" ng-if="hasPrimaryLabel" ng-click="primaryAction()" ng-disabled="disabledPrimaryLabelWithEmptyResponse && serviceResponse.length === 0">{{hasPrimaryLabel}}</button>
        </div>
    </div>

    <div ng-if="pagination" class="table-footer">
        <div class="pagi-text" ng-click="changingPage(1)">
            <span>
                <<</span>
        </div>
        <div class="pagi-text" ng-click="backwards()">
            <span>
                <</span>
        </div>

        <ul class="pagination">
            <li ng-repeat="obj in pages" ng-show="obj.isVisible">
                <a ng-class="{'current-page': currentPage === obj.num}" ng-click="changingPage(obj.num)">{{obj.num}}</a>
            </li>
        </ul>

        <div class="pagi-text" ng-click="forward()">
            <span>></span>
        </div>
        <div class="pagi-text" ng-click="changingPage(pageNumber)">
            <span>>></span>
        </div>

        <div class="isChildButton" ng-if="isChild">
            <button class="wdd-button">
                <i class="icon icon-share"></i>
                Inoltra selezionati
            </button>
        </div>
    </div>

</div>