<div class="wdd-table" ng-if="serviceResponse" ng-class="{'child-table': isChild}">
    <table>
        <thead>
            <th ng-if="expandable || isChecked">
                <div ng-if="isChecked">
                    <input type="checkbox">
                </div>
            </th>
            <th ng-repeat="item in headerArray track by $index">
                {{item.label}}
            </th>
            <th ng-if="hasIcon"></th>
        </thead>
        <tbody>

            <tr wdd-row ng-if="serviceResponse" ng-repeat-start="data in serviceResponse track by $index" row-data="data" column="headerArray"
                action-function="rowAction(rowSelected)" row-key="$index" row-checked="isChecked" row-collapse="expandable" has-info-btn="info"
                has-primary-navigation-btn="primaryNavigation"></tr>

            <tr ng-if="expandable" ng-repeat-end="" ng-class="{'collapse': data.workspace.collapse}">
                <td class="expandable-container" colspan="{{childCollspan()}}">
                    <wdd-table service-response-obj="{{ {array: data.data_fields} }}" header-array-obj="{{ {array: headerArrayExpandable} }}"
                        pagination-bool="{{ {boolean: pagination} }}" page-size-num="{{ {number: pageSize} }}" is-child="true"
                        is-checked-bool="{{ {boolean: isChildChecked} }}" has-primary-navigation-btn="true"></wdd-table>
                </td>
            </tr>

        </tbody>
    </table>

    <div ng-if="pagination" class="table-footer">
        <div class="pagi-text" ng-click="changingPageToFirst()">
            <a href="">First</a>
        </div>
        <ul class="pagination">
            <li ng-repeat="obj in pages">
                <a ng-click="changingPage(obj)">{{obj}}</a>
            </li>
        </ul>
        <div class="pagi-text" ng-click="changingPageToLast()">
            <a href="">Last</a>
        </div>
    </div>

</div>