<div class="wdd-table" ng-if="serviceResponse" ng-class="{'child-table': isChild}">
    <table ng-class="{'expandable-table': expandable}">
        <thead>
            <th ng-if="isChild" class="baseHeaderIconWidth"></th>
            <th ng-if="expandable || isChecked" class="baseHeaderIconWidth">
                <div ng-if="isChecked">
                    <input type="checkbox" ng-model="isSelectAll.value" ng-change="checkRowsSelection()"/>
                </div>
            </th>
            <th ng-repeat="item in headerArray track by $index">
                {{item.label}}
            </th>
            <th ng-if="hasIcon" class="baseHeaderIconWidth" ng-class="{'hasOneIcon': iconNumber == 1, 'hasTwoIcon': iconNumber == 2}"></th>
            <th ng-if="isChild" class="baseHeaderIconWidth"></th>
        </thead>
        <tbody>

            <tr class="base-row" wdd-row ng-if="serviceResponse" ng-repeat-start="data in serviceResponse track by $index" row-data="data"
                column="headerArray" action-function="rowAction(rowSelected)" row-key="$index" row-checked="isChecked" row-collapse="expandable"
                has-info-btn="info" has-primary-navigation-btn="primaryNavigation" has-secondary-navigation-btn="secondaryNavigation"
                has-creation="hasCreation" is-from-child-table="isChild"></tr>

            <tr ng-if="expandable" ng-repeat-end="" ng-class="{'collapse': data.workspace.collapse}">
                <td class="expandable-container" colspan="{{childCollspan()}}">
                    <wdd-table service-response-obj="{{ {array: data.data_fields} }}" header-array-obj="{{ {array: headerArrayExpandable} }}"
                        pagination-bool="{{ {boolean: pagination} }}" page-size-num="{{ {number: pageSize} }}" is-child="true"
                        is-checked-bool="{{ {boolean: isChildChecked} }}" has-primary-navigation-btn="true" path-primary-navigation="{{pathPrimaryNavigation}}"></wdd-table>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="under-table" ng-if="!isChild">
        <div class="left-side">
            <button class="wdd-button icon-only" tooltip-placement="right" tooltip-class="tooltip-test" uib-tooltip="Esporta" tooltip-enable="false"
                show-tooltip>
                <i class="icon icon-excel"></i>
            </button>
        </div>
        <div class="right-side">
            <button class="wdd-button" ng-if="hasSecondaryLabel" ng-click="secondaryAction()">{{hasSecondaryLabel}}</button>
            <button class="wdd-button" ng-if="hasPrimaryLabel" ng-click="primaryAction()">{{hasPrimaryLabel}}</button>
        </div>
    </div>

    <div ng-if="pagination" class="table-footer">
        <div class="pagi-text" ng-click="changingPageToFirst()">
            <a href="">PRIMA</a>
        </div>
        <ul class="pagination">
            <li ng-repeat="obj in pages">
                <a ng-class="{'current-page': currentPage === obj}" ng-click="changingPage(obj)">{{obj}}</a>
            </li>
        </ul>
        <div class="pagi-text" ng-click="changingPageToLast()">
            <a href="">ULTIMA</a>
        </div>

        <div class="isChildButton" ng-if="isChild">
            <button class="wdd-button">
                <i class="icon icon-share"></i>
                Inoltra selezionati
            </button>
        </div>
    </div>

</div>