<div class="wdd-secondary-header">
    <button class="wdd-button icon-only right-spacer" ng-click="vm.back()">
        <i class="icon icon-left-arrow"></i>        
    </button>
    <h2 class="title">Data Lineage</h2>
</div>
<div class="data-lineage-page">
    <div class="square-container">

        <div class="square box-{{key}}" ng-class="{'hide-square': !box}" ng-repeat="(key, box) in vm.lineageBoxes track by $index">
            <div class="title">
                <label>{{box.title}}</label>
                <i ng-if="box.infoOperation" class="icon icon-workspace-details" ng-click="box.infoOperation(box.data.id)"></i>
            </div>
            <div class="body">
                <div ng-class="{'interactive': box.operation, 'content-bold': box.contentBold}" ng-if="box.data.label && !box.data.length"
                    ng-click="box.operation(item.id)">
                    {{box.data.label}}
                </div>
                <div ng-class="{'interactive': box.operation}" ng-if="!box.data.label && box.data.length && box.data[0]" ng-repeat="item in box.data track by $index"
                    ng-click="box.operation(item.id)">

                    <div ng-if="!box.showType" ng-class="{'content-bold': box.contentBold}">
                        {{item.label}}
                    </div>
                    <div class="holder-type" ng-if="box.showType">
                        <label class="label-type">{{item.value}}</label>
                        <span class="content-bold">{{item.label}}</span>
                    </div>

                </div>

                <div class="holder-description" ng-if="box.hasDescription && box.data.rule">
                    <span class="description-label" class>Descrizione</span>
                    <div class="description-box">{{box.data.rule}}</div>
                </div>
            </div>

            <div class="arrow-bottom"></div>
            <div class="arrow-top"></div>
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>

            <div class="arrow-top-right"></div>
            <div class="arrow-top-left"></div>
            <div class="arrow-bottom-right"></div>
            <div class="arrow-bottom-left"></div>

            <div class="arrow-bottom-half"></div>
            <div class="arrow-top-half"></div>
        </div>

    </div>
</div>