.dashboardRequest {
    display: flex;
    align-items: center;
    height: 100%;

    .chart-doghout-dash{
        h2.title {
            font-size: 25px;
        }
        height: 100%;
        padding: 9% 0;
        border-right: 1px solid rgba(#93acd0, 0.5);
        margin-right: 30px;

        label {
            font-size: 30px;
        }
    }

    .table-dash {
        padding: 0;
    }
}