.dashboardRequest {
    display: flex;
    align-items: center;
    position: relative;
    .vertical-line{
        border-right: 1px solid rgba(147, 172, 208, 0.5);
        height: calc(100vh);
        position: absolute;
        left: calc(40% + 30px);
        top: 0px;
        z-index: -10;
        margin-right: 30px;
    }
    .chart-doghout-dash{
        h2.title {
            font-size: 25px;
        }
        height: 100%;
        padding: 0;
        // border-right: 1px solid rgba(#93acd0, 0.5);
        margin-right: 60px;
        width: 40%;

        label {
            font-size: 30px;
        }
    }

    .table-dash {
        padding: 0;
        padding-top: 25px;
        flex: 1;
    }
}