<div class="row filter-row">
    <div class="col-md-4">
        <div class="wbb-select">
            <select>
                <option value="">---</option>
                <option value="test">Test</option>
            </select>
            <i class="icon icon-down-arrow"></i>
        </div>
    </div>
    <div class="col-md-4">
        <div class="wbb-select">
            <select>
                <option value="">---</option>
                <option value="test">Test</option>
            </select>
            <i class="icon icon-down-arrow"></i>
        </div>
    </div>
    <div class="col-md-4">
        <div class="wbb-select">
            <select>
                <option value="">---</option>
                <option value="test">Test</option>
            </select>
            <i class="icon icon-down-arrow"></i>
        </div>
    </div>
</div>

<div class="wdd-table table1">
    <table>
        <thead>
            <tr>
                <th>Workspace</th>
                <th>Data Field</th>
                <th>Data Source Table</th>
                <th>Data Source</th>
                <th>Technical Application</th>
                <th>System Owner</th>
                <th>Program</th>
                <th>Technical Rule</th>
                <th>Business Rule</th>
                <th>Business Data</th>
                <th>Business Glossary</th>
                <th>Process Owner</th>
                <th>Dettaglio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in vm.dataList">
                <!-- Workspace -->
                <td>{{obj.workspace.label}}</td>
                <!-- Data Field -->
                <td>{{obj.data_field.label}}</td>
                <!-- Data Source Table -->
                <td>{{obj.data_field.label}}</td>
                <!-- Data Source -->
                <td>{{obj.data_field.label}}</td>
                <!-- Technical Application -->
                <td>{{obj.data_field.label}}</td>
                <!-- System Owner -->
                <td>{{obj.system_owner.label}}</td>
                <!-- Program -->
                <td>{{obj.data_field.label}}</td>
                <!-- Technical Rule -->
                <td>
                    <span ng-repeat="obj in obj.tech_rules">
                        {{obj.label}}
                        <br>
                    </span>
                </td>

                <!-- Business Rule -->
                <td>
                    <span ng-repeat="obj in obj.business_rules">
                        {{obj.label}}
                        <br>
                    </span>
                </td>

                <!-- Business Data -->
                <td>{{obj.business_data.label}}</td>
                <!-- Business Glossary -->
                <td>{{obj.business_glossary.label}}</td>
                <!-- Process Owner -->
                <td>{{obj.process_owner.label}}</td>
                <!-- Dettaglio -->
                <td>
                    <i class="icon-filter"></i>
                    <i class="icon-list"></i>
                </td>

            </tr>

        </tbody>
    </table>
    <div class="table-footer">

        <div class="pagi-text" ng-click="vm.changingPageToFirst()">
            <a href="">First</a>
        </div>
        <ul class="pagination">
            <!-- <li ng-click="vm.changingPageToFirst()">
                <a href="">First</a>                
            </li> -->
            <li ng-repeat="obj in vm.pages">
                <!-- <a ng-click="currentPage = {{obj}}">{{obj}}</a> -->
                <a ng-click="vm.changingPage(obj)">{{obj}}</a>
            </li>
            <!-- <li ng-click="vm.changingPageToLast()">
                <a href="">Last</a> 
            </li> -->
        </ul>
        <div class="pagi-text" ng-click="vm.changingPageToLast()">
            <a href="">Last</a>
        </div>



    </div>

    <!-- only for tests -->
    <button ng-click="count = count + 1" ng-init="count=0">
        Increment
    </button>
    <span>
        count: {{count}}
    </span>

</div>