.search-page {
    
    .filter-row{
        display: flex;
        flex-direction: row;
        margin-right: 209px;
        padding: 0 10px;

        .wdd-labeled-input {
            margin: 0 5px;
            flex: 1;
    
            .wdd-input-text, .wbb-select {
                width: 80%;
            }

            .wbb-select select {
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}