<div class="wdd-secondary-header">
    <div class="btn-group wdd-dropdown" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="wdd-button dropdown" uib-dropdown-toggle ng-disabled="disabled">
            Censimenti di iniziativa
            <i class="icon icon-down-arrow"></i>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem">
                <a ui-sref="tab.toDoList">Richieste di documentazione</a>
            </li>
            <li role="menuitem">
                <a>Censimenti di iniziativa</a>
            </li>
        </ul>
    </div>
    <div class="flexer"></div>
    <!-- <div>
        <button class="wdd-button excel pull-right" ng-click="vm.openGestioneMassiva()">
            Gestione massiva
        </button>
    </div> -->
</div>
<div class="initiative-censuses">

    <wdd-filter applied-filter="vm.filterChanged(filterApplied)" hide-first-line="{{ vm.hideFirstFilterLine }}"></wdd-filter>

    <wdd-table reload-data="vm.reloadTableData" table-key="initiativeCensuses" header-array-obj="{{ {array: vm.headerTable} }}"
        pagination-bool="{{ {boolean: vm.tablePagination} }}" page-size-num="{{ {number: vm.tablePageSize} }}" has-primary-navigation-btn="true"
        path-primary-navigation="tab.dataDetail" is-checked-bool="{{ {boolean: true} }}" has-primary-label="Inoltra selezionati"
        able-status-primary-label="In modifica" disabled-primary-label-with-empty-response="true" action-primary-label="vm.forwardToApprove(selectedItems)">
    </wdd-table>
    <!-- <wdd-table reload-data="vm.reloadTableData" table-key="initiativeCensuses" header-array-obj="{{ {array: vm.headerTable} }}"
        pagination-bool="{{ {boolean: vm.tablePagination} }}" page-size-num="{{ {number: vm.tablePageSize} }}" has-primary-navigation-btn="true"
        path-primary-navigation="tab.dataDetail" is-checked-bool="{{ {boolean: true} }}" has-primary-label="Inoltra selezionati"
        disabled-primary-label-with-empty-response="true" action-primary-label="vm.forwardToApprove(selectedItems)" has-secondary-label="Nuovo dato" action-secondary-label="vm.createNewData()"
        has-tertiary-label="Gestione massiva" action-tertiary-label="vm.openGestioneMassiva()">
    </wdd-table> -->

    <div class="action-holder">
        <button class="wdd-button" ng-click="vm.createNewData()">Nuovo dato</button>
    </div>

</div>