<div class="approval-request">
    <div class="wbb-select select-child">
        <select name="stato" ng-model="vm.pageChild" ng-change="vm.changeChild()">
            <option value="tab.documentationRequests">Richieste di documentazione</option>
            <option value="">Richieste di approvazione</option>
            <option value="tab.automaticEvents">Eventi automatici</option>
        </select>
        <i class="icon icon-down-arrow"></i>
    </div>

    <wdd-filter applied-filter="vm.filterChanged(array_filter_text)"></wdd-filter>

    <wdd-table ng-if="vm.rawData && vm.headerTable" service-response-obj="{{ {array: vm.rawData} }}" header-array-obj="{{ {array: vm.headerTable} }}"
        pagination-bool="{{ {boolean: vm.tablePagination} }}" page-size-num="{{ {number: vm.tablePageSize} }}" has-primary-navigation-btn="true"
        path-primary-navigation="tab.dataDetail" is-checked-bool="{{ {boolean: true} }}" has-primary-label="Approva" action-primary-label="vm.approve()"
        has-secondary-label="Rifiuta" action-secondary-label="vm.reject()"></wdd-table>
</div>